body {
    font-family: 'Metropolis', 'Montserrat', 'Noto Sans SC', 'Sans Serif', 'icons';
}

/* MOBA Scoreboard*/

.moba-scoreboard {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 50px 18px;
    width: 100%;
}

.moba-scoreboard img {
    max-width: 40px;
    max-height: 40px;
    filter: brightness(0) invert();
}

.moba-scoreboard div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.moba-scoreboard .row-1{
    background-color: #333333;
}

.moba-scoreboard .row-2{
    background-color: #33333388;
    font-size: 10px;
}

.moba-scoreboard .team-name {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.moba-scoreboard .team-name :nth-child(2){
    font-size: 10px;
    font-weight: normal;
}

.moba-scoreboard .towers :nth-child(1){
    font-size: 24px;
}

.moba-scoreboard .gold :nth-child(1){
    font-size: 24px;
}

.moba-scoreboard .team-blue {
    display: flex;
    background-color: mediumturquoise;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.moba-scoreboard .team-red {
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.moba-scoreboard .kills {
    font-size: 30px;
    font-weight: bold;
}

.moba-scoreboard .score-area {
    gap: 3px;
    background: transparent;
}

.moba-scoreboard .score-blank {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #666666;
    padding: 0;
}

.moba-scoreboard .score-blue {
    display: block;
    width: 8px;
    height: 8px;
    background-color: mediumturquoise;
    border-color: white;
    padding: 0;
}

.moba-scoreboard .score-red {
    display: block;
    width: 8px;
    height: 8px;
    background-color: crimson;
    border-color: white;
    padding: 0;
}

.moba-scoreboard .dragons {
    padding: 0;
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.moba-scoreboard .dragons-blue{
    grid-column-start: 2;
    grid-column-end: 6;
    flex-direction: row-reverse;
    justify-content: end;
}

.moba-scoreboard .dragons-red{
    grid-column-start: 7;
    grid-column-end: 11;
    flex-direction: row;
    justify-content: start;
}

.drake-infernal {
    color: orangered;
}
.drake-mountain {
    color: peru;
}
.drake-ocean {
    color: aquamarine;
}
.drake-cloud {
    color: lightsteelblue;
}
.drake-chemtech {
    color: chartreuse;
}
.drake-hextech {
    color: darkturquoise;
}

.scoreboard-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #333333;
}

.scoreboard-control input {
    max-width: 50px;
    font-family: 'Metropolis', 'Montserrat', 'Noto Sans SC', 'Sans Serif';
}

.scoreboard-control button {
    font-family: 'Metropolis', 'Montserrat', 'Noto Sans SC', 'Sans Serif';
}

.scoreboard-control div {
    display: flex;
    padding: 4px;
    justify-content: center;
    gap: 8px;
}

.scoreboard-control .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.blue-side-stat {
    background: #48d1cc66;
}

.red-side-stat {
    background: #dc143c66;
}

/* Fancy Link */
.fancy-link {
    color: white;
    background: linear-gradient(to right, white, white) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 200ms;
}
.fancy-link:hover {
    background-position-x: left;
    background-size: 100% 2px;
}

/* Dices */
.dices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}
.dices div {
    background-color: #180a02;
    border-color: goldenrod;
    border-width: 2px;
}
.dices select {
    background-color: #291103;
    color: white;
    border-color: goldenrod;
}
.dices select option:hover {
    background-color: goldenrod;
}
.dice-select {
    border-style: solid;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}
.dice-display {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    flex-direction: column;
}
.dice-label {
    font-size: 86px;
}
button.dice-roll {
    background-color: #180a02;
    border-color: goldenrod;
    color: white;
    font-family: inherit;
    padding: 6px;
    width: 100%;
}
button:active.dice-roll {
    background-color: goldenrod;
}
button:disabled.dice-roll {
    background-color: #221b18;
    color: gray;
}
.dice-roll-all {
    grid-column-start: 1;
    grid-column-end: 5;
}
#dice-roll-all {
    padding: 8px;
    font-size: large;
    font-weight: bold;
}