body {
    font-family: 'Metropolis', 'Montserrat', 'Noto Sans SC', 'Sans Serif', 'icons';
}

select {
    font-family: inherit;
}

/* Fancy Link */
.fancy-link {
    color: white;
    background: linear-gradient(to right, white, white) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 200ms;
}
.fancy-link:hover {
    background-position-x: left;
    background-size: 100% 2px;
}