:host {
    background: var(--background-color);
}

:host ::selection {
    background-color: var(--darkened-theme-color);
    color: var(--text-color-select);
}

.tab-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100;
}

.tab-container button {
    background-color: var(--gray-color);
    background-image: linear-gradient(to top, var(--theme-color), var(--theme-color));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 0%;
    transition: 0.2s;
    border: none;
    padding: 0.8em;
    font-family: inherit;
    color: var(--text-color);
    flex-grow: 1;
}

.tab-container button:hover, .tab-container button:focus {
    background-size: 100% 100%;
    filter: brightness(1.1);
}

button.open {
    background-size: 100% 100%;
}

.page-container {
    border: 2px solid var(--border-color-common);
    border-bottom: 0px solid var(--border-color-common);
    border-top: 0px solid var(--border-color-common);
    overflow-y: hidden;
    transition: 0.2s cubic-bezier(0.75, 0, 0.25, 1);
    box-sizing: content-box;
}

.page-container.open {
    border-bottom: 2px solid var(--border-color-common);
}

.page {
    margin: 0.8em;
}
