<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <link href="https://n-wither.github.io/assets/css/metropolis.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto Serif SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans SC' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../assets/css/main-1.css">
    <link rel="stylesheet" href="../assets/css/page-specific/milk.css">
    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/63383462?v=4">
    <title>Milking Simulator</title>
    <script src="https://n-wither.github.io/assets/js/utils.js"></script>
    <script>
        function init() {
            startTime();
            hello();
            randomQuote();
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.prod.min.js"></script>
    <script src="../assets/js/page-specific/milk.js" type="module"></script>
</head>

<body onload="init()">
    <div class="navigate" id="navigate">
        <a href="../games/" style="line-height: unset; height: 50px;">🎮<span
                style="font-size: larger; font-weight: bolder;" id="category">Games</span></a>
        <a href="https://n-wither.github.io">🏠<span>Home</span></a>
        <a href="https://n-wither.github.io/writings/index.html">📚<span>Articles</span></a>
        <a href="https://n-wither.github.io/tools/tools.html">🔧<span>Tools</span></a>
        <a href="https://n-wither.github.io/misc/web-playground.html">🧩<span>Misc</span></a>
    </div>
    <div class="toolbox" id="toolbox">
        <div style="position: absolute; top: calc(50% - 0.5em); left: 10px">|||</div>
        <div id="clock">clock</div>
    </div>
    <div class="content">
        <div>
            <h1 id="page-title">Milking Simulator</h1>
            <h3>挤奶模拟器</h2>
                <details class="info">
                    <summary>简介</summary>
                    基于 Vue 实现的一个放置小游戏。国内的用户加载可能需要一段时间。
                </details>
                <hr />
        </div>
        <div class="mainText">
            <div id="milksim">
                <div class="panel list">
                    <div>牛奶：{{milk.toFixed(0)}} 桶</div>
                    <div>手动产量：{{manualMilkAmount}} <span v-if="manualMilkModifier > 1">(+{{((manualMilkModifier - 1) * 100).toFixed(0)}}%)</span> 桶/次</div>
                    <div>自动产量：{{autoMilkAmount}} <span v-if="autoMilkModifier > 1">(+{{((autoMilkModifier - 1) * 100).toFixed(0)}}%)</span> 桶/秒</div>
                    <button @click="manualMilk()">挤奶</button>
                    <button @click="saveGame()">保存游戏</button>
                    <div class="news">
                        <div style="font-weight: bold;">新闻</div>
                        <div class="news-text">{{pickedNews}}</div>
                    </div>
                </div>
                <div class="shop list">
                    <h2>资产</h2>
                    <div>
                        <button @click="buyProperty('milkMan')">挤奶工({{properties.milkMan.count}})</button>
                        <div>{{properties.milkMan.desc}}</div>
                        <div>价格：{{properties.milkMan.price}}</div>
                        <div>产量: 自动 {{properties.milkMan.productivity[0]}} 手动 {{properties.milkMan.productivity[1]}}</div>
                    </div>
                    <div>
                        <button @click="buyProperty('autoMilker')">自动挤奶器({{properties.autoMilker.count}})</button>
                        <div>{{properties.autoMilker.desc}}</div>
                        <div>价格：{{properties.autoMilker.price}}</div>
                        <div>产量: 自动 {{properties.autoMilker.productivity[0]}} 手动 {{properties.autoMilker.productivity[1]}}</div>
                    </div>
                    <div>
                        <button @click="buyProperty('pump')">泵({{properties.pump.count}})</button>
                        <div>{{properties.pump.desc}}</div>
                        <div>价格：{{properties.pump.price}}</div>
                        <div>产量: 自动 {{properties.pump.productivity[0]}} 手动 {{properties.pump.productivity[1]}}</div>
                    </div>
                    <div>
                        <button @click="buyProperty('pumpjack')">牛奶钻井({{properties.pumpjack.count}})</button>
                        <div>{{properties.pumpjack.desc}}</div>
                        <div>价格：{{properties.pumpjack.price}}</div>
                        <div>产量: 自动 {{properties.pumpjack.productivity[0]}} 手动 {{properties.pumpjack.productivity[1]}}</div>
                    </div>
                    <div>
                        <button @click="buyProperty('factory')">化工厂({{properties.factory.count}})</button>
                        <div>{{properties.factory.desc}}</div>
                        <div>价格：{{properties.factory.price}}</div>
                        <div>产量: 自动 {{properties.factory.productivity[0]}} 手动 {{properties.factory.productivity[1]}}</div>
                    </div>
                    <div>
                        <button @click="buyProperty('exchange')">交易所({{properties.exchange.count}})</button>
                        <div>{{properties.exchange.desc}}</div>
                        <div>价格：{{properties.exchange.price}}</div>
                        <div>产量: 自动 {{properties.exchange.productivity[0]}} 手动 {{properties.exchange.productivity[1]}}</div>
                    </div>
                    <div>
                        <button @click="buyProperty('magic')">魔法师({{properties.magic.count}})</button>
                        <div>{{properties.magic.desc}}</div>
                        <div>价格：{{properties.magic.price}}</div>
                        <div>产量: 自动 {{properties.magic.productivity[0]}} 手动 {{properties.magic.productivity[1]}}</div>
                    </div>
                    <div>
                        <button @click="buyProperty('starship')">星舰({{properties.starship.count}})</button>
                        <div>{{properties.starship.desc}}</div>
                        <div>价格：{{properties.starship.price}}</div>
                        <div>产量: 自动 {{properties.starship.productivity[0]}} 手动 {{properties.starship.productivity[1]}}</div>
                    </div>
                </div>
                <div class="shop list">
                    <h2>升级</h2>
                    <div>
                        <button @click="buyUpgrade('freshGrass')" :class="upgrades.freshGrass.sold">新鲜牧草 <span v-if="upgrades.freshGrass.sold">（已购买）</span></button>
                        <div>{{upgrades.freshGrass.desc}}</div>
                        <div>价格：{{upgrades.freshGrass.price}}</div>
                    </div>
                    <div>
                        <button @click="buyUpgrade('cowCat')" :class="upgrades.cowCat.sold">奶牛猫 <span v-if="upgrades.cowCat.sold">（已购买）</span></button>
                        <div>{{upgrades.cowCat.desc}}</div>
                        <div>价格：{{upgrades.cowCat.price}}</div>
                    </div>
                    <div>
                        <button @click="buyUpgrade('exoskeleton')" :class="upgrades.exoskeleton.sold">机械外骨骼 <span v-if="upgrades.exoskeleton.sold">（已购买）</span></button>
                        <div>{{upgrades.exoskeleton.desc}}</div>
                        <div>价格：{{upgrades.exoskeleton.price}}</div>
                    </div>
                    <div>
                        <button @click="buyUpgrade('gene')" :class="upgrades.gene.sold">转基因 <span v-if="upgrades.gene.sold">（已购买）</span></button>
                        <div>{{upgrades.gene.desc}}</div>
                        <div>价格：{{upgrades.gene.price}}</div>
                    </div>
                    <div>
                        <button @click="buyUpgrade('school')" :class="upgrades.school.sold">奶牛学校 <span v-if="upgrades.school.sold">（已购买）</span></button>
                        <div>{{upgrades.school.desc}}</div>
                        <div>价格：{{upgrades.school.price}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" style="clear:both;text-align:center;">
            <hr />
            <span id="randomQuote">Random Quote</span>
            <br>
            Powered by <a href="https://pages.github.com/">Github Pages</a>.
        </div>
    </div>
</body>

</html>