:host {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    margin: 0.6em 0;
    max-width: 100%;
}

:host[horizontal] {
    flex-direction: row;
}

.card__base {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    background: var(--background-color-dk);
    max-width: -moz-fit-content;
    max-width: fit-content;
}
.card__base.horizontal {
    flex-direction: row;
    max-width: initial;
}

@media screen and (max-width: 480px) {
    .card__base.horizontal {
        flex-direction: column;
        min-width: 100%;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }
}

.card__image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__content {
    display: flex;
    flex-direction: column;
}

.card__base.horizontal .card__content {
    width: 100%;
}

.card__header {
    padding: 0.6em;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.card__body {
    display: flex;
    flex-direction: column;
    padding: 0.6em;
}

.card__footer {
    padding: 0.6em;
    display: flex;
    color: var(--text-color-lt);
    border-top: 1px solid var(--border-color);
    margin-top: auto;
}

.card__base:not(.has-header) .card__header{
    display: none;
}
.card__base:not(.has-footer) .card__footer{
    display: none;
}