:host {
    display: block;
    background-color: var(--background-color-darken);
    max-width: fit-content;
}

.imgblk__base {
    display: flex;
    flex-direction: column;
}

.imgblk__caption {
    text-align: center;
    border-bottom: 2px solid var(--theme-color);
    box-sizing: border-box;
    padding: 0.2em;
}

.imgblk__img {
    max-width: 100%;
}