.moba-scoreboard, .moba-scoreboard-mobile {
  --main-bg: #333333;
  --blue-bg: #48d1cc;
  --blue-color: #48d1cc;
  --red-bg: #dc143c;
  --red-color: #dc143c;
  --text-color: #ffffff;
  --row-2-bg: #33333388;
  font-family: "Metropolis", "Noto Sans SC", "Sans Serif", "icons";
}
.moba-scoreboard .teamBlue-logo-bg, .moba-scoreboard-mobile .teamBlue-logo-bg {
  background: var(--blue-bg);
}
.moba-scoreboard .teamRed-logo-bg, .moba-scoreboard-mobile .teamRed-logo-bg {
  background: var(--red-bg);
}
.moba-scoreboard .blue-color, .moba-scoreboard-mobile .blue-color {
  color: var(--blue-color);
}
.moba-scoreboard .red-color, .moba-scoreboard-mobile .red-color {
  color: var(--red-color);
}
.moba-scoreboard .main-bg, .moba-scoreboard-mobile .main-bg {
  color: var(--text-color);
  height: 100%;
  position: relative;
}
.moba-scoreboard.main-bg, .moba-scoreboard-mobile.main-bg {
  background: var(--main-bg);
  color: var(--text-color);
}
.moba-scoreboard .row-2-bg, .moba-scoreboard-mobile .row-2-bg {
  background: var(--row-2-bg);
  color: var(--text-color);
}
.moba-scoreboard .score-teamBlue, .moba-scoreboard-mobile .score-teamBlue {
  background: var(--blue-color);
}
.moba-scoreboard .score-teamRed, .moba-scoreboard-mobile .score-teamRed {
  background: var(--red-color);
}
.moba-scoreboard[theme=lec] .score-teamBlue, .moba-scoreboard[theme=lec] .score-teamRed, .moba-scoreboard[theme=lec] .score-blank, .moba-scoreboard[theme=lcs] .score-teamBlue, .moba-scoreboard[theme=lcs] .score-teamRed, .moba-scoreboard[theme=lcs] .score-blank, .moba-scoreboard-mobile[theme=lec] .score-teamBlue, .moba-scoreboard-mobile[theme=lec] .score-teamRed, .moba-scoreboard-mobile[theme=lec] .score-blank, .moba-scoreboard-mobile[theme=lcs] .score-teamBlue, .moba-scoreboard-mobile[theme=lcs] .score-teamRed, .moba-scoreboard-mobile[theme=lcs] .score-blank {
  width: 8px;
  border-radius: 50%;
}
.moba-scoreboard[theme=lck], .moba-scoreboard-mobile[theme=lck] {
  font-family: "termina", "icons";
}
.moba-scoreboard[theme=lck] .score-teamBlue, .moba-scoreboard[theme=lck] .score-teamRed, .moba-scoreboard[theme=lck] .score-blank, .moba-scoreboard-mobile[theme=lck] .score-teamBlue, .moba-scoreboard-mobile[theme=lck] .score-teamRed, .moba-scoreboard-mobile[theme=lck] .score-blank {
  width: 8px;
  outline: solid 1px gray;
}
.moba-scoreboard[theme=lck] .kills, .moba-scoreboard-mobile[theme=lck] .kills {
  font-weight: normal;
}
.moba-scoreboard[theme=lck] .team-name-text, .moba-scoreboard-mobile[theme=lck] .team-name-text {
  font-family: "LCK";
  font-weight: normal;
}
.moba-scoreboard[theme=lpl], .moba-scoreboard-mobile[theme=lpl] {
  font-family: "JetBrains Mono", monospace, "icons";
}
.moba-scoreboard[theme=dark], .moba-scoreboard-mobile[theme=dark] {
  --main-bg: #333333;
  --blue-bg: #48d1cc;
  --blue-color: #48d1cc;
  --red-bg: #dc143c;
  --red-color: #dc143c;
  --text-color: #ffffff;
}
.moba-scoreboard[theme=light], .moba-scoreboard-mobile[theme=light] {
  --main-bg: #ffffff;
  --blue-bg: #48d1cc;
  --blue-color: #48d1cc;
  --red-bg: #dc143c;
  --red-color: #dc143c;
  --text-color: #333333;
  --row-2-bg: #ffffff88;
}
.moba-scoreboard[theme=lpl], .moba-scoreboard-mobile[theme=lpl] {
  --main-bg: #1a1e1e;
  --blue-color: #78d0cf;
  --blue-bg: #1a1e1e;
  --red-color: #eb1846;
  --red-bg: #1a1e1e;
  --text-color: #f6f6f6;
}
.moba-scoreboard[theme=lck], .moba-scoreboard-mobile[theme=lck] {
  --main-bg: linear-gradient(170deg, #4b6bf9 0%, transparent 75px), linear-gradient(190deg, #f11c0b 0%, transparent 75px), #171622;
  --blue-color: #4b6bf9;
  --red-color: #f11c0b;
  --blue-bg: transparent;
  --red-bg: transparent;
  --text-color: white;
}
.moba-scoreboard[theme=lec], .moba-scoreboard-mobile[theme=lec] {
  --main-bg: #020219;
  --blue-bg: #00cbb9;
  --blue-color: #00cbb9;
  --red-bg: #ff5c15;
  --red-color: #ff5c15;
  --text-color: #ffffff;
  --sep-line-color: #44375488;
}
.moba-scoreboard[theme=lcs], .moba-scoreboard-mobile[theme=lcs] {
  --main-bg: #070707;
  --blue-bg: #070707;
  --blue-color: #3395b8;
  --red-bg: #070707;
  --red-color: #b60f33;
  --text-color: #ffffff;
}
.moba-scoreboard[theme=lcc], .moba-scoreboard-mobile[theme=lcc] {
  --main-bg: linear-gradient(120deg, #67da55 10%, #1a1e1e 45%, #1a1e1e 50%, #1a1e1e 55%, #e428c8 90%);
  --blue-color: white;
  --blue-bg: transparent;
  --red-color: white;
  --red-bg: transparent;
  --text-color: #f6f6f6;
  --sep-line-color: white;
}
.moba-scoreboard[theme=lcc] .score-blank, .moba-scoreboard-mobile[theme=lcc] .score-blank {
  background: transparent;
  width: 10px;
  height: 6px;
  border: solid 1px white;
}
.moba-scoreboard[theme=valorant], .moba-scoreboard-mobile[theme=valorant] {
  --main-bg: #101822;
  --blue-color: #13ffcb;
  --blue-bg: #13ffcb66;
  --red-color: #ff4560;
  --red-bg: #ff456066;
}
.moba-scoreboard[theme=valorant] .score-blank, .moba-scoreboard[theme=valorant] .score-teamBlue, .moba-scoreboard[theme=valorant] .score-teamRed, .moba-scoreboard-mobile[theme=valorant] .score-blank, .moba-scoreboard-mobile[theme=valorant] .score-teamBlue, .moba-scoreboard-mobile[theme=valorant] .score-teamRed {
  width: 8px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.moba-scoreboard[theme=valorant] .team-name:has(.teamBlue-pos), .moba-scoreboard-mobile[theme=valorant] .team-name:has(.teamBlue-pos) {
  background: linear-gradient(to right, #13ffcb 0, #13ffcb 3px, transparent 3px);
}
.moba-scoreboard[theme=valorant] .team-name:has(.teamRed-pos), .moba-scoreboard-mobile[theme=valorant] .team-name:has(.teamRed-pos) {
  background: linear-gradient(to left, #ff4560 0, #ff4560 3px, transparent 3px);
}

.moba-scoreboard-mobile {
  --sep-line-color: #80808088;
}
.moba-scoreboard-mobile .stat-row {
  border-top: solid var(--sep-line-color) 2px;
}
.moba-scoreboard-mobile .dragons {
  padding: 0 5px;
}

/*# sourceMappingURL=themes.css.map */
