.moba-scoreboard, .moba-scoreboard-mobile {
    --main-bg: #333333;
    --blue-bg: #48d1cc;
    --blue-color: #48d1cc;
    --red-bg: #dc143c;
    --red-color: #dc143c;
    --text-color: #ffffff;
    --row-2-bg: #33333388;

    font-family: 'Metropolis', 'Noto Sans SC', 'Sans Serif', 'icons';

    .teamBlue-logo-bg {
        background: var(--blue-bg);
    }
    .teamRed-logo-bg {
        background: var(--red-bg);
    }
    .blue-color {
        color: var(--blue-color);
    }
    .red-color {
        color: var(--red-color);
    }
    .main-bg {
        color: var(--text-color);
    }
    &.main-bg {
        background: var(--main-bg);
        color: var(--text-color);
    }
    .row-2-bg {
        background: var(--row-2-bg);
        color: var(--text-color);
    }

    .score-teamBlue {
        background: var(--blue-color);
    }
    .score-teamRed {
        background: var(--red-color);
    }

    
    &[theme=lec], &[theme=lcs] {
        .score-teamBlue, .score-teamRed, .score-blank {
            width: 8px;
            border-radius: 50%;
        }
    }

    &[theme=lck] {
        .score-teamBlue, .score-teamRed, .score-blank {
            width: 8px;
            outline: solid 1px gray;
        }

        font-family: 'termina', 'icons';

        .kills {
            font-weight: normal;
        }

        .team-name-text {
            font-family: 'LCK';
            font-weight: normal;
        }
    }

    &[theme=lpl] {
        font-family: 'JetBrains Mono', monospace, 'icons';
    }

    &[theme=dark] {
        --main-bg: #333333;
        --blue-bg: #48d1cc;
        --blue-color: #48d1cc;
        --red-bg: #dc143c;
        --red-color: #dc143c;
        --text-color: #ffffff;
    }
    &[theme=light] {
        --main-bg: #ffffff;
        --blue-bg: #48d1cc;
        --blue-color: #48d1cc;
        --red-bg: #dc143c;
        --red-color: #dc143c;
        --text-color: #333333;
        --row-2-bg: #ffffff88;

        embed svg path {
            fill: var(--text-color)
        }
    }
    &[theme=lpl] {
        --main-bg: #1a1e1e;
        --blue-color: #78d0cf;
        --blue-bg: #1a1e1e;
        --red-color: #eb1846;
        --red-bg: #1a1e1e;
        --text-color: #f6f6f6;
    }
    &[theme=lck] {
        --main-bg: linear-gradient(170deg, #4b6bf9 0%, transparent 30%), linear-gradient(190deg, #f11c0b 0%, transparent 30%), #171622;
        --blue-color: #4b6bf9;
        --red-color: #f11c0b;
        --blue-bg: transparent;
        --red-bg: transparent;
        --text-color: white;
    }
    &[theme=lec] {
        --main-bg: #020219;
        --blue-bg: #00cbb9;
        --blue-color: #00cbb9;
        --red-bg: #ff5c15;
        --red-color: #ff5c15;
        --text-color: #ffffff;
        --sep-line-color: #44375488;
    }
    &[theme=lcs] {
        --main-bg: #070707;
        --blue-bg: #070707;
        --blue-color: #3395b8;
        --red-bg: #070707;
        --red-color: #b60f33;
        --text-color: #ffffff;
    }
    &[theme=msi23] {
        --main-bg: #020001;
        --blue-bg: #aaaa77;
        --blue-color: #aaaa77;
        --red-bg: #fe0000;
        --red-color: #fe0000;
        --text-color: #fff1e6;
    }
    &[theme=lcc] {
        --main-bg: linear-gradient(120deg, #67da55 10%, #1a1e1e 45%, #1a1e1e 50%, #1a1e1e 55%, #e428c8 90%);
        --blue-color: white;
        --blue-bg: transparent;
        --red-color: white;
        --red-bg: transparent;
        --text-color: #f6f6f6;
        --sep-line-color: white;
    }
}

.moba-scoreboard-mobile {
    --sep-line-color: #80808088;

    .stat-row {
        border-top: solid var(--sep-line-color) 2px;
    }

    .dragons {
        padding: 0 5px;
    }
}