select {
    font-family: inherit;
}

/* Fancy Link */
.fancy-link {
    color: var(--text-color);
    background: linear-gradient(to right, var(--text-color), var(--text-color)) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 200ms;
}
.fancy-link:hover {
    background-position-x: left;
    background-size: 100% 2px;
}