a, .link {
    color: var(--link-color);
    text-decoration: none;
    background: linear-gradient(to right, var(--link-color), var(--link-color)) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 200ms;
    cursor: pointer;

    &:visited {
        color: var(--link-color-visited);
    }

    &:is(:hover, :focus) {
        background-position-x: left;
        background-size: 100% 2px;
    }

    &.no-deco {
        background: none;
    }
}

a[target = "_blank"]::after{
    font-family: 'Material Symbols Outlined';
    content: 'open_in_new';
    position: relative;
    top: 0.1rem;
}

a.no-deco[target="_blank"]::after{
    display: none;
}