:root {
    --ribbon-color: var(--accent-color);
}
:root {
    --paper-color: #fdfdfd;
    --paperstack-shadow-color: #0000001a;
    --paperstack-shadow-color-dk: #0000001a;
    --paperstack-shadow-color-lt: #0000000d;
}
:root.theme-dark {
    --paper-color: #1e1e23;
    --paperstack-shadow-color: #00000acc;
    --paperstack-shadow-color-dk: #000007e6;
    --paperstack-shadow-color-lt: #0000070d;
}

@mixin paper {
    position: relative;

    &:has(.ribbon) {
        padding-top: 4em;
    }
}

.paper {
    max-width: max(80%, 50rem);
    min-height: 16rem;
    background-color: var(--paper-color);
    box-shadow: 0px 1px 4px var(--shadow-color);
    margin-inline: auto;
    margin-block: 0.4em;
    padding: 1.6rem;
    @include paper();
}

.paperstack {
    @include paper();
    min-height: 20rem;
    min-width: 20rem;
    max-width: min(60rem, 80%);
    background-color: var(--paper-color);
    padding: 1.5rem;
    box-shadow: 0px 1px 4px var(--shadow-color);
    margin-block: 3.6rem;
    margin-inline: auto;

    &::before, &::after {
        content: '';
        position: absolute;
        z-index: -1;
    }
    &::before {
        left: -5px;
        top: 4px;
        width: 100%;
        height: 98%;
        background-color: inherit;
        transform: rotate(-2.5deg);
        box-shadow: 0px 1px 1.9px -4px var(--paperstack-shadow-color), 0px 6px 15px -4px var(--paperstack-shadow-color-dk);
    }
    &::after {
        left: -3px;
        top: 1px;
        width: 100%;
        height: 98%;
        background-color: inherit;
        transform: rotate(1.4deg);
        box-shadow: 0px 1px 1.9px -4px var(--paperstack-shadow-color), 0px 6px 15px -4px var(--paperstack-shadow-color-lt);
    }
}

@mixin styledBoxes {
    text-align: center;
    padding: 2em 3em;
    margin-inline: auto;
    margin-block: 1em;
}

.notation {
    $border: 0.2em solid var(--border-color);
    background-color: var(--background-color-dk);
    border-left: $border;
    border-right: $border;
    max-width: max(80%, 45em);
    @include styledBoxes();
}

.modal {
    border: 0.25em solid var(--border-color);
    max-width: max(85%, 50em);
    @include styledBoxes();
}

.ribbon {
    --f: .5em; /* control the folded part*/
    --r: .8em; /* control the ribbon shape */
    position: absolute;
    top: 20px;
    left: calc(-1*var(--f));
    padding-inline: 0.8em;
    line-height: 1.8;
    background: var(--ribbon-color);
    border-bottom: var(--f) solid #0005;
    border-right: var(--r) solid #0000;
    clip-path: 
        polygon(calc(100% - var(--r)) 0,0 0,0 calc(100% - var(--f)),var(--f) 100%,
        var(--f) calc(100% - var(--f)),calc(100% - var(--r)) calc(100% - var(--f)),
        100% calc(50% - var(--f)/2));
    box-shadow: 0px 1px 4px var(--shadow-color);
    color: var(--text-color-contrast);

    :is(h1, h2, h3, h4, h5, h6) {
        margin: 0
    }
}

.jotting {
    @include styledBoxes();
    border: dotted 0.2em var(--border-color);
    max-width: max(60%, 45em);
}