table {
    border-spacing: 0;
    border: 1px solid var(--border-color);

    thead, th {
        background: var(--background-color-dk);
    }

    th {
        border: 1px solid var(--border-color);
    }

    td {
        border: 1px solid var(--border-color);
    }
}