.scoreboard[data-theme=valorant], .details[data-theme=valorant] {
    --background: #111823;
    --background-2: #00000033;
    --left-color: #2efebb;
    --left-color-alpha: #2efebb33;
    --right-color: #ff4954;
    --right-color-alpha: #ff495433;
    --text-color: #ffffff;

    .logo.left {
        box-shadow: 2px 0 0 var(--left-color);
    }
    .logo.right {
        box-shadow: -2px 0 0 var(--right-color);
    }
    &[data-swapped=true] .logo.left {
        box-shadow: 2px 0 0 var(--right-color);
    }
    &[data-swapped=true] .logo.right {
        box-shadow: -2px 0 0 var(--left-color);
    }

    .score.left {
        background: var(--left-color-alpha);
        box-shadow: -2px 0 0 var(--left-color);
    }
    .score.right {
        background: var(--right-color-alpha);
        box-shadow: 2px 0 0 var(--right-color);
    }
    &[data-swapped=true] .score.left {
        background: var(--right-color-alpha);
        box-shadow: -2px 0 0 var(--right-color);
    }
    &[data-swapped=true] .score.right {
        background: var(--left-color-alpha);
        box-shadow: 2px 0 0 var(--left-color);
    }
}