.accessibility-mode-on {
    background: white;
    color: black;
}

.navigate-accessibility {
    background-color: #888888;
    color: black;
    filter: none;
    width: 240px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 500px;
    transition: 0.3s;
    padding: 5px;
}

.navigate-accessibility:hover {
    width: 240px;
    background-color: #444444dd;
}

.navigate-accessibility a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    overflow: hidden;
    position: relative;
}

.navigate-accessibility a.active {
    background-color: darkcyan;
    color: white;
}

.navigate-accessibility a:hover:not(.active) {
    background-color: #333333;
    color: white;
}

.navigate-accessibility span {
    white-space: nowrap;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
}

.navigate-accessibility:hover span {
    opacity: 1;
}

.pos-fixed-accessibility {
    position: fixed;
    top: 50px;
    right: 2em;
    background-color: #00000033;
    padding: 0.5em;
}

.content-a11y {
    margin-left: 260px;
    margin-right: 300px;
}