body {
    background: linear-gradient(to top, #0c3f53, #20676d);
    background-repeat: repeat-x;
    background-attachment: fixed;
    color: white;
    font-family: 'Readex Pro', 'Noto Sans SC';
    vertical-align: baseline;
    transition: 0.3s;
}

div.content {
    margin-left: 10%;
    margin-right: 10%;
    transition: 0.3s;
}

blockquote {
    font-style: oblique;
    background-color: #11111111;
    padding: 1em;
    border-style: solid;
    border-color: #aa1e08;
    border-left-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

a:link {
    color: #03baa2;
}

a:visited {
    color: #03baa2;
}

a:hover {
    background-color: #770000;
    color: white;
}

::selection {
    background-color: #770000;
}

.navigate {
    width: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #00000033;
    position: fixed;
    height: 500px;
    padding: 5px;
    transition: 0.3s;
}

.navigate:hover {
    width: 170px;
    background-color: #00000066;
}

.navigate a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    overflow: hidden;
    position: relative;
}

.navigate a:hover {
    background-color: #aa000066;
    color: white;
}

.navigate span {
    white-space: nowrap;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
}

.navigate:hover span {
    opacity: 1;
}

.note {
    font-family: "Readex Pro";
}

/*
  Characters Speaks
*/

.god-speaking {
    font-family: 'Noto Serif SC';
}

.satan-speaking {
    font-family: 'Ma Shan Zheng';
}

.friend-speaking {
    font-family: 'ZCOOL KuaiLe';
}

.death-speaking {
    font-family: 'ZCOOL XiaoWei';
}

.gabriel-speaking {
    font-family: 'ZCOOL KuaiLe';
    text-shadow: 2px 2px 5px #f8e591;
}

/* 
  Page Specific
*/
h2 {
    background-color: #00000033;
    padding: 8px;
}

/*
  Misc
*/
.talk-bubble {
    background-color: #cccccc;
    width: 300px;
    border-radius: 0px 8px 8px 8px;
    margin: 15px;
    padding: 8px;
}

.talk-bubble-wither {
    background-color: #53ccd7;
    width: 300px;
    border-radius: 8px 8px 0px 8px;
    margin: 15px;
    padding: 8px;
    position: relative;
    left: 160px
}

.story-time {
    background-color: #113333;
    width: 260px;
    font-family: 'Share Tech Mono';
    padding: 10px;
    text-align: left;
    color: lime;
}

.blink {
    animation: blink 0.5s infinite alternate steps(2, start);
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.paper-file {
    background-color: #ece9e1;
    box-shadow: 2px 2px 8px #00000066;
    color: black;
    padding: 12px;
    position: relative;
}

.paper-file-sticker {
    position: absolute;
    right: 15px;
    background-color: #fcfcf0;
    box-shadow: 2px 2px 2px #00000033;
    padding: 8px;
}

.zoom {
    transition: 0.15s;
    max-height: 120px;
}

.zoom:hover {
    max-height: 200px;
}

#clock {
    text-align: center;
    background-color: #00000033;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 5px;
}

#accessibility-switch {
    background-color: #00000088;
    color: #ffffff;
    border: none;
    margin-top: 5px;
    font-family: 'Noto Sans SC';
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding: 5px;
}

/* ToolBox */
.toolbox {
    transition: 0.2s;
    right: -150px;
    top: 50px;
    padding: 5px;
    padding-left: 30px;
    background-color: #00000033;
    position: fixed;
}

.toolbox:hover {
    right: 0;
}

/* Content Table */
.content-table {
    background-color: #00000033;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.content-table a {
    line-height: 22px;
    color: white;
    text-decoration: none;
    position: relative;
}

.content-table span {
    white-space: nowrap;
}

/* Scroll Bar */
::-webkit-scrollbar-track {
    background: #333333;
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #00000055;
}

::-webkit-scrollbar {
    width: 10px;
}

details.info {
    margin: 1rem auto;
    padding: 0.5em;
    position: relative;
    background-color: #00000033;
    transition: background-color 0.15s;
}

details.info::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0.15;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: -1;
}

details.info[open]::before {
    opacity: 0;
}

details.info div {
    padding: 5px;
}

details.info summary {
    display: block;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}

details.info summary::before,
details.info summary::after {
    width: 0.75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    background-color: currentcolor;
    text-align: right;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
}

details.info summary::after {
    transform: translateY(-50%) rotate(90deg);
}

details.info[open] summary::after {
    transform: translateY(-50%) rotate(180deg);
}

details.info summary::-webkit-details-marker {
    display: none;
}