body,
html {
    background: linear-gradient(to top, #0c3f53, #20676d);
    background-repeat: repeat-x;
    background-attachment: fixed;
    color: white;
    font-family: 'Readex Pro', 'Noto Sans SC';
    vertical-align: baseline;
}

div.content {
    margin-left: 10%;
    margin-right: 12%;
    transition: 0.3s;
}

blockquote {
    margin-right: 24%;
    font-style: oblique;
    background-color: #11111111;
    padding: 1em;
    border-style: solid;
    border-color: #137f7f;
    border-left-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

a:link {color: #03baa2;}
a:visited {color: #03baa2;}

a:hover {
    background-color: #137f7f;
    color: white;
    font-style: oblique;
}

::selection {
    background-color: #22aaaa;
}

.navigate {
    width: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #0c3f5366;
    position: fixed;
    height: 500px;
    padding: 5px;
    transition: 0.3s;
}

.navigate:hover {
    width: 240px;
    background-color: #0c3f53cc;
}

.navigate a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    overflow: hidden;
    position: relative;
}

.navigate a.active {
    background-color: darkcyan;
    color: white;
}

.navigate a:hover:not(.active) {
    background-color: #137f7f;
    color: white;
}

.navigate span {
    white-space: nowrap;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
}

.navigate:hover span {
    opacity: 1;
}

/*Lists in main text*/
ul.content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40%;
    background-color: #0c3f5366;
    overflow: auto;
}

li.content a {
    display: block;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
}

li.content a.active {
    background-color: darkcyan;
    color: white;
}

li.content a:hover:not(.active) {
    background-color: #137f7f;
    color: white;
}

/*Content table*/
ul.content-table {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 5px;
    border-color: aliceblue;
    background-color: #0c3f5366;
    overflow: auto;
}

li.content-table {
    display: block;
    padding: 4px 4px;
}

li.content-table a {
    display: block;
    color: white;
    text-decoration: none;
}

li.content-table a.active {
    background-color: darkcyan;
    color: white;
}

li.content-table a:hover:not(.active) {
    background-color: #137f7f;
    color: white;
}

.note {font-family: "Readex Pro";}

/*
  Characters Speaks
*/

.god-speaking {
    font-family: 'Noto Serif SC';
}

.satan-speaking {
    font-family: 'Ma Shan Zheng';
}

.friend-speaking {
    font-family: 'ZCOOL KuaiLe';
}

.death-speaking {
    font-family: 'ZCOOL XiaoWei';
}

.gabriel-speaking {
    font-family: 'ZCOOL KuaiLe';
    text-shadow: 2px 2px 5px #f8e591;
}

/* 
  Page Specific
*/
h2 {
    background-color: #00000033;
    padding: 8px;
}
/*
  Misc
*/
.talk-bubble {
    background-color: #cccccc;
    width: 300px;
    border-radius: 0px 8px 8px 8px;
    margin: 15px;
    padding: 8px;
}

.talk-bubble-wither {
    background-color: #53ccd7;
    width: 300px;
    border-radius: 8px 8px 0px 8px;
    margin: 15px;
    padding: 8px;
    position: relative;
    left: 160px
}

.story-time {
    background-color: #113333;
    width: 260px;
    font-family: 'Share Tech Mono';
    padding: 10px;
    text-align: left;
    color: lime;
}

.blink {
    animation: blink 0.5s infinite alternate steps(2, start);
}

@keyframes blink {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.paper-file {
    background-color: #ece9e1;
    box-shadow: 3px 3px 5px #00000033;
    color: black;
    padding: 12px;
    position: relative;
}

.paper-file-sticker {
    position: absolute;
    right: 15px;
    background-color: #fcfcf0;
    box-shadow: 2px 2px 2px #00000033;
    padding: 8px;
}

.zoom {
    transition: 0.15s;
    max-height: 120px;
}

.zoom:hover {
    max-height: 200px;
}

#clock {
    text-align: center;
    background-color: #00000033;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 5px;
}

#accessibility-switch {
    background-color: #00000088;
    color: #ffffff;
    border: none;
    margin-top: 5px;
    font-family: 'Noto Sans SC';
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding: 5px;
}

.toolbox {
    transition: 0.2s;
    right: -160px;
    top: 50px;
    padding: 5px;
    padding-left: 30px;
    background-color: #00000033;
    position: fixed;
}

.toolbox:hover {
    right: 0;
}

.content-table {
    background-color: #00000033;
    padding: 10px;
}

.content-table a {
    line-height: 28px;
    color: white;
    text-decoration: none;
    padding: 5px;
    position: relative;
}