body,
html {
    background: linear-gradient(to top, #0c3f53, #20676d);
    background-repeat: repeat-x;
    background-attachment: fixed;
    color: white;
    font-family: 'Readex Pro', 'Noto Sans SC';
    vertical-align: baseline;
}

div.content {
    margin-left: 14%;
}

div.content p {
    margin-right: 24%
}

blockquote {
    margin-right: 24%;
    font-style: oblique;
    background-color: #11111111;
    padding: 1em;
    border-style: solid;
    border-color: #137f7f;
    border-left-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

a:link {
    color: #03baa2;
}

a:visited {
    color: #048a9c;
}

a:hover {
    background-color: #137f7f;
    color: white;
    font-style: oblique;
}

::selection {
    background-color: #22aaaa;
}

.navigate {
    width: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #0c3f5366;
    position: fixed;
    height: 500px;
    padding: 5px;
    transition: 0.3s;
    overflow: hidden;
}

.navigate:hover {
    width: 240px;
    background-color: #0c3f53cc;
}

.navigate a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    overflow: hidden;
    position: relative;
}

.navigate a.active {
    background-color: darkcyan;
    color: white;
}

.navigate a:hover:not(.active) {
    background-color: #137f7f;
    color: white;
}

.navigate span {
    white-space: nowrap;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
}

.navigate:hover span {
    opacity: 1;
}

.note {
    font-family: "Readex Pro";
}

/*Lists in main text*/
ul.content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40%;
    background-color: #0c3f5366;
    overflow: auto;
}

li.content a {
    display: block;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
}

li.content a.active {
    background-color: darkcyan;
    color: white;
}

li.content a:hover:not(.active) {
    background-color: #137f7f;
    color: white;
}

/*Content table*/
ul.content-table {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 5px;
    border-color: aliceblue;
    background-color: #0c3f5366;
    overflow: auto;
}

li.content-table {
    display: block;
    padding: 4px 4px;
}

li.content-table a {
    display: block;
    color: white;
    text-decoration: none;
}

li.content-table a.active {
    background-color: darkcyan;
    color: white;
}

li.content-table a:hover:not(.active) {
    background-color: #137f7f;
    color: white;
}

#clock {
    text-align: center;
    background-color: #11333344;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 5px;
}

#toolbox {
    position: fixed;
    top: 50px;
    right: 1em;
    background-color: #33ffff44;
    padding: 5px;
    width: 16%;
}

#accessibility-switch {
    background-color: #00000088;
    color: #ffffff;
    border: none;
    margin-top: 5px;
    font-family: 'Noto Sans SC';
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding: 5px;
}