body {
    background: linear-gradient(to top, #0c3f53, #20676d);
    background-repeat: repeat-x;
    background-attachment: fixed;
    color: white;
    font-family: 'Readex Pro', 'Noto Sans SC';
    vertical-align: baseline;
}

div.content {
    margin-left: 10%;
}

div.content p {
    margin-right: 24%
}

blockquote {
    margin-right: 24%;
    font-style: oblique;
    background-color: #11111111;
    padding: 1em;
    border-style: solid;
    border-color: #137f7f;
    border-left-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

a {
    color: #03baa2;
    transition: 0.2s;
    text-decoration: none;
}

a:hover {
    background-color: #137f7f;
    color: white;
}

hr {
    border: none;
    border-top: 2px solid;
}

::selection {
    background-color: #22aaaa;
}

.navigate {
    width: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #00000033;
    position: fixed;
    height: 500px;
    padding: 5px;
    transition: 0.3s;
    overflow: hidden;
}

.navigate:hover {
    width: 180px;
    background-color: #00000088;
}

.navigate a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    overflow: hidden;
    position: relative;
}

.navigate a.active {
    background-color: darkcyan;
    color: white;
}

.navigate a:hover:not(.active) {
    background-color: #137f7f;
    color: white;
}

.navigate span {
    white-space: nowrap;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
}

.navigate:hover span {
    opacity: 1;
}

.note {
    font-family: "Readex Pro";
}

.zoom {
    transition: 0.15s;
    max-height: 120px;
}

.zoom:hover {
    max-height: 200px;
}

/*Lists in main text*/
ul.content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40%;
    background-color: #0c3f5366;
    overflow: auto;
}

li.content a {
    display: block;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
}

li.content a.active {
    background-color: darkcyan;
    color: white;
}

li.content a:hover:not(.active) {
    background-color: #137f7f;
    color: white;
}

#clock {
    text-align: center;
    background-color: #00000033;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 5px;
}

#accessibility-switch {
    background-color: #00000088;
    color: #ffffff;
    border: none;
    margin-top: 5px;
    font-family: 'Noto Sans SC';
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding: 5px;
}

/* ToolBox */
.toolbox {
    transition: 0.2s;
    right: -150px;
    top: 50px;
    padding: 5px;
    padding-left: 30px;
    background-color: #00000033;
    position: fixed;
}

.toolbox:hover {
    right: 0;
}

/* Content Table */
.content-table {
    background-color: #00000033;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.content-table a {
    line-height: 22px;
    color: white;
    text-decoration: none;
    position: relative;
}

.content-table span {
    white-space: nowrap;
}

/* Scroll Bar */
::-webkit-scrollbar-track {
    background: linear-gradient(to top, #072b3a, #154b50);
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #00000055;
}

::-webkit-scrollbar {
    width: 10px;
}

details.info {
    margin: 1rem auto;
    padding: 0.5em;
    position: relative;
    background-color: #00000033;
    transition: background-color 0.15s;
}

details.info::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0.15;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: -1;
}

details.info[open]::before {
    opacity: 0;
}

details.info div {
    padding: 5px;
}

details.info summary {
    display: block;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}

details.info summary::before,
details.info summary::after {
    width: 0.75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    background-color: currentcolor;
    text-align: right;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
}

details.info summary::after {
    transform: translateY(-50%) rotate(90deg);
}

details.info[open] summary::after {
    transform: translateY(-50%) rotate(180deg);
}

details.info summary::-webkit-details-marker {
    display: none;
}