body,html {
    height: 100%;
    background: linear-gradient(to top, #0c3f53, #20676d);
    background-repeat: repeat-x;
    color: white;
    font-family: "Readex+Pro";
    vertical-align: baseline;
}
div.pos_fixed {position: fixed;top: 50px;right: 4em}
div.content {margin-left: 14%;}
a:link {color: aqua;}
a:visited {color: darkcyan;}
a:hover {background-color: #137f7f;color: white;font-style: oblique;}
ul.navigate {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #0c3f5366;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li.sidebar a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li.sidebar a.active {
    background-color: darkcyan;
    color: white;
}

li.sidebar a:hover:not(.active) {
    background-color: #137f7f;
    color: white;
}