.click-particle {
    position: fixed;
    -webkit-user-select: none;
    user-select: none;
    z-index: 101;
    pointer-events: none;
}

.click-particle.ascent {
    animation: ascent forwards 0.8s;
}

@keyframes ascent {
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}