.click-particle {
    animation: click-particle forwards 0.8s;
    position: absolute;
    user-select: none;
}

@keyframes click-particle {
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}