.tippy-box[data-theme~='aquamarine']{
    background-color: var(--background-color);
    color: var(--text-color);
    filter: drop-shadow(2px 2px 4px var(--box-shadow-color));
    border-radius: 0;
    min-width: 15rem;
    font-size: inherit;
    padding-top: 0.2rem;
}

.tippy-box::before {
    padding: 0.2rem;
    min-width: 1rem;
    background-color: var(--theme-color);
    content: attr(data-index) '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-0.8rem, -60%);
    color: var(--text-color);
}