.tooltip {
    display: none;
    background: var(--background-color);
    border-radius: 4px;
    padding: 8px;
    z-index: 99;
    animation: show 0.3s forwards;
    color: var(--text-color);
    min-width: 15rem;
    filter: drop-shadow(4px 4px 8px var(--box-shadow-color))
}

.tooltip::before {
    padding: inherit;
    background-color: var(--theme-color);
    content: attr(data-index) '';
    position: absolute;
    top: -0.8rem;
    left: -0.8rem;
}

.tooltip[data-show] {
    display: block;
    animation: 0.2s ease-in 0s tooltip-show;
}

@keyframes tooltip-show {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}