<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Details</h1>
    <hr>
    <aq-details open>
        <div slot="summary">显示详细信息</div>
        <div slot="close">关闭详细信息</div>
        详细信息，很多的详细信息。下面是一些占位用文本。
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odio cupiditate eius quidem totam vel enim temporibus adipisci repellat quae eos est, voluptate possimus quos expedita error distinctio ratione officiis?</p>
        <p><a href="#">链接</a></p>
        <aq-details>
            <p>更多更详细的信息。</p>
            <aq-details>
                <p>超多超详细的信息。</p>
                <aq-details>
                    <p>巨多巨详细的信息。</p>
                    <aq-details>
                        <p>闹够了吗，该结束了。</p>
                    </aq-details>
                </aq-details>
            </aq-details>
        </aq-details>
    </aq-details>
    <h2>事件</h2>
    <table>
        <tr>
            <th>名称</th>
            <th>描述</th>
        </tr>
        <tr>
            <td>show</td>
            <td>打开详细信息</td>
        </tr>
        <tr>
            <td>hide</td>
            <td>关闭详细信息</td>
        </tr>
    </table>
</body>
</html>