<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Icon 图标</h1>
    <hr>
    <p>基于<a href="http://https://fonts.google.com/icons" target="_blank" rel="noopener noreferrer">Google Fonts 的 Material Symbols</a>，<code>name</code>的值控制图标的内容，详见前面提到的网页。</p>
    <div><aq-icon name="info"></aq-icon></div>
    也可以使用 SVG 文件作为图标：
    <div><aq-icon src="/assets/imgs/lol/baron.svg"></aq-icon></div>
    <p>以上效果的源代码：</p>
    <aq-code language="html">
        <aq-icon name="info"></aq-icon>
        <aq-icon src="/assets/imgs/lol/baron.svg"></aq-icon>
    </aq-code>
</body>
</html>