<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Aquamarine Theme & Web Components</h1>
    <hr>
    <p>这个页面用来展示 Aquamarine v2 主题版式和用于此版式的 Web Components.</p>
    <p>由于迁移的成本很高，因此 Aquamarine v2 看起来和 v1 一模一样，以至于不会有切换的感觉。但是它是模块化的，可以根据页面上的内容选择性地加载相应的 css 以减少冗余的 css 代码，例如，如果页面上没有 blockquote，就无需加载 blockquote 的样式。同样地，扩展和维护也很方便。</p>
    <p>Aquamarine v2 的所有颜色都基于 css 变量，很容易就能制作一个新的配色方案。</p>
    <p>一个标准的 Aquamarine 页面由 header, body 和 footer 三个部分组成，在 v2 中它们都是 Web Component，如果以后要修改它们的布局，就不需要再像以前那样一个页面一个页面地改代码了。</p>
    <p>Web Component 是一种比较新的用于制作组件的方式，它属于 Web 标准的一部分且不依赖任何现有的框架，所以非常适合这个完全使用原生 JS 的网站。</p>
    <p>Aquamarine 的设计风格总体上是扁平化的，不使用圆角，只使用少量的颜色，也没有多余的动效，但是适当的阴影又增强了立体感。简洁和快速是 Aquamarine 的宗旨。</p>
</body>
</html>