<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Tab 分页</h1>
    <hr>
    <div>
        <aq-tab>
            <aq-tab-button slot="tabs" open index="1">标签页</aq-tab-button>
            <aq-tab-page slot="pages" open index="1">
                <b>页面</b>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem rem quam ex
                    reprehenderit veritatis modi dignissimos cumque nemo. Repudiandae voluptatem commodi nulla
                    alias debitis. Excepturi corrupti aspernatur assumenda voluptates officia.</p>
            </aq-tab-page>
            <aq-tab-button slot="tabs" index="2">另一个标签页</aq-tab-button>
            <aq-tab-page slot="pages" index="2">
                <b>另一个页面</b>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ullam dicta earum,
                    aspernatur numquam consectetur fugiat expedita velit maiores iure quisquam placeat, dolorum
                    amet eligendi fuga necessitatibus facilis explicabo ut?</p>
            </aq-tab-page>
            <aq-tab-button slot="tabs" index="3">虽然这个标签页的名字很长但是完全没有内容好奇怪哦</aq-tab-button>
            <aq-tab-page slot="pages" index="3"></aq-tab-page>
            <aq-tab-button slot="tabs" index="4">一个内容很多的页面</aq-tab-button>
            <aq-tab-page slot="pages" index="4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Pretium nibh ipsum consequat nisl vel pretium lectus quam id. Non
                    curabitur
                    gravida arcu ac tortor dignissim convallis. Vel facilisis volutpat est velit egestas dui id
                    ornare.
                    At tellus at urna condimentum mattis pellentesque id nibh tortor. Eu augue ut lectus arcu
                    bibendum
                    at varius vel pharetra. Pharetra vel turpis nunc eget. In iaculis nunc sed augue. Ac felis
                    donec et
                    odio pellentesque diam volutpat commodo. Id diam vel quam elementum. Urna neque viverra
                    justo nec.
                    At consectetur lorem donec massa. Massa tincidunt nunc pulvinar sapien et ligula. Quisque
                    non tellus
                    orci ac auctor augue mauris. Cras ornare arcu dui vivamus arcu. Vestibulum mattis
                    ullamcorper velit
                    sed ullamcorper morbi. Justo eget magna fermentum iaculis eu non diam phasellus vestibulum.
                </p>
                <p>Cursus sit amet dictum sit amet justo donec enim. Hac habitasse platea dictumst vestibulum
                    rhoncus
                    est pellentesque elit ullamcorper. Tempus imperdiet nulla malesuada pellentesque elit eget.
                    Sit amet
                    cursus sit amet. Odio morbi quis commodo odio aenean sed adipiscing. Volutpat ac tincidunt
                    vitae
                    semper quis lectus nulla at volutpat. Sed viverra ipsum nunc aliquet bibendum enim
                    facilisis.
                    Adipiscing tristique risus nec feugiat in fermentum posuere. Tortor id aliquet lectus proin
                    nibh
                    nisl condimentum id. Consequat semper viverra nam libero justo. Malesuada bibendum arc </p>
            </aq-tab-page>
            <aq-tab-button slot="tabs" index="5">空标签页</aq-tab-button>
            <aq-tab-page slot="pages" index="5"></aq-tab-page>
            <aq-tab-button slot="tabs" index="6">空标签页</aq-tab-button>
            <aq-tab-page slot="pages" index="6"></aq-tab-page>
            <aq-tab-button slot="tabs" index="7">空标签页</aq-tab-button>
            <aq-tab-page slot="pages" index="7"></aq-tab-page>
            <aq-tab-button slot="tabs" index="8">空标签页</aq-tab-button>
            <aq-tab-page slot="pages" index="8"></aq-tab-page>
            <aq-tab-button slot="tabs" index="9">空标签页</aq-tab-button>
            <aq-tab-page slot="pages" index="9"></aq-tab-page>
            <aq-tab-button slot="tabs" index="10">空标签页</aq-tab-button>
            <aq-tab-page slot="pages" index="10"></aq-tab-page>
        </aq-tab>
    </div>
</body>

</html>