<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Window 窗口</h1>
    <hr>
    <blockquote class="warn">在移动端无法拖动（因为使用了 Drag API），此组件可能在未来重写。</blockquote>
    <p>一个可拖动可调整大小的窗口，里面可以放任何东西。默认的浮动范围是它的<code>offsetParent</code>，如果加上<code>float</code>属性，它的浮动范围会变成全屏。</p>
    <div style="position: relative; height: 30em;">
        <aq-window width="20em" height="18em">
            <span slot="title">Window</span>
            <p>Hello World!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ratione voluptas error reprehenderit facere necessitatibus laborum assumenda explicabo nulla ut earum est, saepe repellendus. Magni, saepe neque voluptas similique commodi corrupti porro odio at est suscipit quas vitae dignissimos, inventore nemo asperiores dolorem ipsam dolorum? Molestias velit ipsa alias nemo officiis quos quaerat est odit quidem animi iure obcaecati delectus maxime dolorem, corporis saepe. Voluptatem, itaque, nam culpa nesciunt expedita non aliquam facilis veniam quis nobis nemo eum, odit delectus?</p>
        </aq-window>
        <aq-window>
            <span slot="title">Window2</span>
            <p>Another window!</p>
        </aq-window>
    </div>
</body>
</html>