@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

// SASS specific
@mixin general-shadow {
    box-shadow: 0px 4px 8px var(--box-shadow-color);
}

@mixin general-link {
    color: var(--link-color);
    background: linear-gradient(to right, var(--link-color), var(--link-color)) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 200ms;
    text-decoration: none;
}

@mixin general-link-hover {
    background-position-x: left;
    background-size: 100% 2px;
}

@mixin light-scheme-palette {
    --background-color: #fcfcfc;
    --background-color-darken: #ededed;
    --text-color: #0F0F0F;
    --text-color-2: #fff;
    --text-color-select: #fff;
    --gray-color: #cccccc;
    --dark-gray-color: #888888;
    --theme-color: var(--aqua-500);
    --darkened-theme-color: var(--aqua-600);
    --secondary-theme-color: #fff;
    --darkened-secondary-theme-color: #ccc;
    --box-shadow-color: #0F0F0F22;
    --link-color: var(--aqua-600);
    --border-color-common: #cfcfcf;
}

@mixin dark-scheme-palette {
    --background-color: #1e1e1e;
    --background-color-darken: #181818;
    --text-color: #fff;
    --text-color-2: #888;
    --text-color-select: #Fff;
    --gray-color: #3b3b3b;
    --dark-gray-color: #2b2b2b;
    --theme-color: var(--aqua-600);
    --darkened-theme-color: var(--aqua-500);
    --secondary-theme-color: #fff;
    --darkened-secondary-theme-color: #ccc;
    --box-shadow-color: #66666622;
    --link-color: var(--aqua-500);
    --border-color-common: #3c3c3c;
}

$general-transition-time: 0.4s;

/* General */

// palette
:root {
    --gray-50: #f1f1f1;
    --gray-100: #e4e4e4;
    --gray-200: #c9c9c9;
    --gray-300: #adadad;
    --gray-400: #929292;
    --gray-500: #808080;
    --gray-600: #5f5f5f;
    --gray-700: #4d4d4d;
    --gray-800: #333333;
    --gray-900: #1a1a1a;
    --gray-950: #0d0d0d;

    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f36969;
    --red-500: #dd5656;
    --red-600: #d04848;
    --red-700: #cc3d3d;
    --red-800: #c53232;
    --red-900: #b32828;
    --red-950: #902222;

    --lime-50: #f7fee7;
    --lime-100: #ecfccb;
    --lime-200: #d9f99d;
    --lime-300: #bef264;
    --lime-400: #a3e635;
    --lime-500: #84cc16;
    --lime-600: #65a30d;
    --lime-700: #4d7c0f;
    --lime-800: #3f6212;
    --lime-900: #365314;
    --lime-950: #26390e;

    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;
    --green-950: #0c311b;

    --blue-50: #eff6ff;
    --blue-100: #dbeafe;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
    --blue-800: #1e40af;
    --blue-900: #1e3a8a;
    --blue-950: #152149;

    --aqua-50: #f2fcfa;
    --aqua-100: #d2f7f0;
    --aqua-200: #a6efe1;
    --aqua-300: #7de7d4;
    --aqua-400: #51dfc5;
    --aqua-500: #20d6b5;
    --aqua-600: #1aab91;
    --aqua-700: #13806d;
    --aqua-800: #0d5648;
    --aqua-900: #062b24;
    --aqua-950: #132521;

    --orange-50: #fff7ed;
    --orange-100: #ffedd5;
    --orange-200: #fed7aa;
    --orange-300: #fdba74;
    --orange-400: #fb923c;
    --orange-500: #f97316;
    --orange-600: #ea580c;
    --orange-700: #c2410c;
    --orange-800: #9a3412;
    --orange-900: #7c2d12;
    --orange-950: #52200f;

    --yellow-50: #fefce8;
    --yellow-100: #fef9c3;
    --yellow-200: #fef08a;
    --yellow-300: #fde047;
    --yellow-400: #facc15;
    --yellow-500: #eab308;
    --yellow-600: #ca8a04;
    --yellow-700: #a16207;
    --yellow-800: #854d0e;
    --yellow-900: #713f12;
    --yellow-950: #3c260b;

    --indigo-50: #eef2ff;
    --indigo-100: #e0e7ff;
    --indigo-200: #c7d2fe;
    --indigo-300: #a5b4fc;
    --indigo-400: #818cf8;
    --indigo-500: #6366f1;
    --indigo-600: #4f46e5;
    --indigo-700: #4338ca;
    --indigo-800: #3730a3;
    --indigo-900: #312e81;
    --indigo-950: #242154;

    --violet-50: #f5f3ff;
    --violet-100: #ede9fe;
    --violet-200: #ddd6fe;
    --violet-300: #c4b5fd;
    --violet-400: #a78bfa;
    --violet-500: #8b5cf6;
    --violet-600: #7c3aed;
    --violet-700: #6d28d9;
    --violet-800: #5b21b6;
    --violet-900: #4c1d95;
    --violet-950: #311558;

    --purple-50: #faf5ff;
    --purple-100: #f3e8ff;
    --purple-200: #e9d5ff;
    --purple-300: #d8b4fe;
    --purple-400: #c084fc;
    --purple-500: #a855f7;
    --purple-600: #9333ea;
    --purple-700: #7e22ce;
    --purple-800: #6b21a8;
    --purple-900: #581c87;
    --purple-950: #2f1143;

    --fuchsia-50: #fdf4ff;
    --fuchsia-100: #fae8ff;
    --fuchsia-200: #f5d0fe;
    --fuchsia-300: #f0abfc;
    --fuchsia-400: #e879f9;
    --fuchsia-500: #d946ef;
    --fuchsia-600: #c026d3;
    --fuchsia-700: #a21caf;
    --fuchsia-800: #86198f;
    --fuchsia-900: #701a75;
    --fuchsia-950: #38103a;

    --pink-50: #fdf2f8;
    --pink-100: #fce7f3;
    --pink-200: #fbcfe8;
    --pink-300: #f9a8d4;
    --pink-400: #f472b6;
    --pink-500: #ec4899;
    --pink-600: #db2777;
    --pink-700: #be185d;
    --pink-800: #9d174d;
    --pink-900: #831843;
    --pink-950: #430e23;

    --rose-50: #fff1f2;
    --rose-100: #ffe4e6;
    --rose-200: #fecdd3;
    --rose-300: #fda4af;
    --rose-400: #fb7185;
    --rose-500: #f43f5e;
    --rose-600: #e11d48;
    --rose-700: #be123c;
    --rose-800: #9f1239;
    --rose-900: #881337;
    --rose-950: #4a0d20;
}  

:root {
    --theme-color-50: var(--aqua-50);
    --theme-color-100: var(--aqua-100);
    --theme-color-200: var(--aqua-200);
    --theme-color-300: var(--aqua-300);
    --theme-color-400: var(--aqua-400);
    --theme-color-500: var(--aqua-500);
    --theme-color-600: var(--aqua-600);
    --theme-color-700: var(--aqua-700);
    --theme-color-800: var(--aqua-800);
    --theme-color-900: var(--aqua-900);
    --theme-color-950: var(--aqua-950);

    @include light-scheme-palette();

    --header-height: 3.6rem;

    scroll-behavior: smooth;
    font: {
        family: 'Metropolis', 'Readex Pro', 'Noto Sans SC', 'Material Symbols Outlined';
        size: 16px;
    }
}

:root.dark-mode {
    @include dark-scheme-palette()
}

::selection {
    background-color: var(--darkened-theme-color);
    color: var(--text-color-select);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark-gray-color);
}

::-webkit-scrollbar-thumb {
    background: var(--gray-color);
}

::-webkit-scrollbar-corner {
    background: var(--dark-gray-color);
}

body {
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
    position: relative;
    min-height: 100vh;
    transition: all $general-transition-time;
}

a[target = "_blank"]::after{
    content: '↗';
    content: '\e89e';
    position: relative;
    top: 0.1rem
}

.page-content, .page-footer, .toolbox {
    a {
        @include general-link();

        &:hover, &:focus {
            @include general-link-hover()
        }
    }
}

button {
    font-family: inherit;
}

.float-div {
    z-index: 99;
    min-width: var(--header-height);
    min-height: var(--header-height);
    @include general-shadow;
}

hr {
    border: none;
    border-top: solid var(--text-color) 2px;

    &.break {
        width: 70%;
    }
}

:not(:defined) {
    visibility: hidden;
}

/* Small Components */
#clock {
    width: 100%;
    padding: 0.4rem;
    text-align: center;
}

#to-top {
    animation: $general-transition-time ease-in show;

    button {
        width: var(--header-height);
        height: var(--header-height);
        background: var(--background-color);
        border: none;
        color: inherit;
    }

    button:hover{
        background: var(--gray-color);
    }

    &.ani__hide {
        animation: $general-transition-time ease-in hide;
    }
}

/* Page Header and menu */

.page-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: var(--header-height);
    @include general-shadow;
    display: flex;
    z-index: 99;
    background: var(--background-color);

    .menu-button {
        width: var(--header-height);
        height: var(--header-height);
        background-color: var(--background-color);

        button {
            border: none;
            background: none;
            width: 100%;
            height: 100%;
            font-size: 1.6rem;
            cursor: pointer;
            transition: all 0.2s;
        }
    }

    a {
        text-decoration: none;
        color: var(--text-color);
        transition: all 0.2s;
    }

    a:hover, a:focus {
        background: var(--gray-color);
    }

    a::after {
        content: '';
    }

    a.page-category:hover, a.page-category:focus {
        background: var(--darkened-theme-color);
    }

    button {
        color: inherit;
        user-select: none;
    }

    button.menu-button::before {
        content: '\e5d2';
        color: var(--text-color);
    }
    
    button.menu-button.open::before {
        content: '\e5cd';
        color: var(--text-color);
    }

    .menu-button {
        button:hover {
            background: var(--gray-color);
        }

        a {
            width: var(--header-height);
            height: var(--header-height);
        }
    }

    .page-icon {
        background: var(--theme-color);

        img {
            width: 80%;
            height: 80%;
        }
    }

    .page-category {
        background: var(--theme-color);
        font-size: 1.4rem;
        font-weight: bold;
    }

    .page-title {
        font-size: 1.6rem;
        padding: 0.4rem;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.2s;
        cursor: default;
    }

    .right {
        position: absolute;
        right: 0;
    }

    .all-menu {
        position: absolute;
        top: var(--header-height);
        overflow-x: hidden;
        width: 0;
        transition: all $general-transition-time cubic-bezier(0.75, 0, 0.25, 1);
        display: flex;
        flex-direction: column;
        background: var(--background-color);
        z-index: 100;
        @include general-shadow;
    }

    .menu {
        left: 0;

        a.item {
            min-height: var(--header-height);
            border-bottom: var(--gray-color) solid;
            padding: 0.4rem;
            font-size: 1.4rem;
            padding: 0 0;
            width: 100%;
            height: 100%;
            color: var(--text-color);
            text-decoration: none;
            transition: all 0.2s;
        }

        a.item:hover, a.item:focus {
            background: var(--gray-color);
        }

        a.item div{
            display: flex;
            flex-direction: row;
        }

        .item .icon {
            height: 3rem;
            width: 3rem;
            margin: 0;
        }
    }

    .menu.open, .menu:has(a:focus) {
        top: var(--header-height);
        width: 30%;
    }

    .toolbox {
        right: 0;
        transform: translateX(100%);
        width: 24%;
        position: fixed;
        top: var(--header-height);

        .item {
            border-bottom: solid var(--gray-color);
            padding: 0.4rem;
            overflow-x: hidden;

            a {
                @include general-link()
            }

            a:hover, a:focus {
                @include general-link-hover()
            }

            a[target = "_blank"]::after {
                content: '↗';
            }
        }

        .content-table {
            display: flex;
            flex-direction: column;

            a {
                height: 1.2rem;
            }
        }
    }

    .toolbox.open, .toolbox:has(a:focus){
        top: var(--header-height);
        width: 20%;
        transform: translateX(0);
    }

    button.toolbox-button:before {
        content: '◀';
        color: var(--text-color);
    }
    
    button.toolbox-button.open::before {
        content: '▶';
        color: var(--text-color);
    }
}

/* Page Content*/

.page-content {
    margin: calc(2rem + var(--header-height)) 10rem 0 10rem;
    min-height: calc(100vh - 20rem);
}

.page-footer {
    margin: 4rem 10rem 2rem 10rem;
    text-align: center;
}

/* For Mobile Devices */

@media screen and (orientation: portrait), screen and (max-width: 480px) {
    :root {
        --header-height: 3rem;
    }

    .page-header .menu {
        top: var(--header-height);
    }

    .page-header .menu.open {
        top: var(--header-height);
        width: 50%;
    }

    .page-header {
        height: var(--header-height)
    }

    .page-header .menu-button {
        width: var(--header-height);
    }

    .page-header .menu a.item {
        min-height: var(--header-height);
    }

    .page-header {
        .page-icon, .page-category {
            display: none;
        }
    }

    .page-header .toolbox {
        width: 50%;
    }
    .page-header .toolbox.open {
        top: var(--header-height);
        width: 50%;
    }

    .page-content {
        margin: calc(2rem + var(--header-height)) 1rem 0 1rem;
    }

    .page-footer {
        margin: 4rem 1rem 0 1rem;
    }

    .toolbox {
        top: var(--header-height);
    }
}


/* Tailwind-like util classes */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.left {
    justify-content: left;
}

.padding-all-small {
    padding: 0.4rem;
}

.no-select {
    user-select: none;
}

.svg-monocolor {
    fill: var(--text-color)
}

.adapt-header {
    min-width: var(--header-height);
}

.adapt-header-strict {
    width: var(--header-height);
    height: var(--header-height);
}

.no-bg {
    background: none !important;
}

.float-right {
    float: right;
}

/* Animations */
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide {
    to {
        opacity: 0;
    }
}