@charset "UTF-8";
/* SASS specific */
/* General */
:root {
  --background-color: #fcfcfc;
  --text-color: #0F0F0F;
  --text-color-2: #fff;
  --text-color-select: #fff;
  --gray-color: #cccccc;
  --dark-gray-color: #888888;
  --theme-color: #00ffd0;
  --darkened-theme-color: #1dc3a5;
  --box-shadow-color: #0F0F0F22;
  --header-height: 3.6rem;
  scroll-behavior: smooth;
  font-family: "Metropolis", "Readex Pro", "Noto Sans SC";
}

:root.dark-mode {
  --background-color: #1e1e1e;
  --text-color: #fff;
  --text-color-2: #888;
  --text-color-select: #Fff;
  --gray-color: #3b3b3b;
  --dark-gray-color: #2b2b2b;
  --theme-color: #1dc3a5;
  --darkened-theme-color: #169d84;
  --box-shadow-color: #66666622;
}

::selection {
  background-color: var(--darkened-theme-color);
  color: var(--text-color-select);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-gray-color);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-color);
}

::-webkit-scrollbar-corner {
  background: var(--dark-gray-color);
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  position: relative;
  height: 100%;
  transition: all 0.4s;
}

a[target=_blank]::after {
  content: "↗";
}

a.content {
  color: var(--darkened-theme-color);
  background: linear-gradient(to right, var(--darkened-theme-color), var(--darkened-theme-color)) no-repeat right bottom;
  background-size: 0 2px;
  transition: background-size 200ms;
  text-decoration: none;
}

a.content:hover, a.content:focus {
  background-position-x: left;
  background-size: 100% 2px;
}

button {
  font-family: inherit;
}

.float-div {
  z-index: 99;
  min-width: var(--header-height);
  min-height: var(--header-height);
  box-shadow: 0px 4px 8px var(--box-shadow-color);
}

/* Small Components */
#clock {
  width: 100%;
  padding: 0.4rem;
  text-align: center;
}

#to-top {
  animation: 0.4s ease-in show;
}
#to-top button {
  width: var(--header-height);
  height: var(--header-height);
  background: none;
  border: none;
  color: inherit;
}
#to-top button:hover {
  background: var(--gray-color);
}
#to-top.ani__hide {
  animation: 0.4s ease-in hide;
}

/* Page Header and menu */
.page-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0px 4px 8px var(--box-shadow-color);
  display: flex;
  z-index: 99;
  background: var(--background-color);
}
.page-header .menu-button {
  width: var(--header-height);
  height: var(--header-height);
  background-color: var(--background-color);
}
.page-header .menu-button button {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s;
}
.page-header a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.2s;
}
.page-header a:hover, .page-header a:focus {
  background: var(--gray-color);
}
.page-header a::after {
  content: "";
}
.page-header a.page-category:hover, .page-header a.page-category:focus {
  background: var(--darkened-theme-color);
}
.page-header button {
  color: inherit;
  user-select: none;
}
.page-header button.menu-button::before {
  content: "☰";
  color: var(--text-color);
}
.page-header button.menu-button.open::before {
  content: "✖";
  color: var(--text-color);
}
.page-header .menu-button button:hover {
  background: var(--gray-color);
}
.page-header .menu-button a {
  width: var(--header-height);
  height: var(--header-height);
}
.page-header .page-icon {
  background: var(--theme-color);
}
.page-header .page-icon img {
  width: 80%;
  height: 80%;
}
.page-header .page-category {
  background: var(--theme-color);
  font-size: 1.4rem;
  font-weight: bold;
}
.page-header .page-title {
  font-size: 1.6rem;
  padding: 0.4rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: default;
}
.page-header .right {
  position: absolute;
  right: 0;
}
.page-header .all-menu {
  position: absolute;
  top: var(--header-height);
  overflow-x: hidden;
  width: 0;
  transition: all 0.4s cubic-bezier(0.75, 0, 0.25, 1);
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  z-index: 100;
  box-shadow: 0px 4px 8px var(--box-shadow-color);
}
.page-header .menu {
  left: 0;
}
.page-header .menu a.item {
  min-height: var(--header-height);
  border-bottom: var(--gray-color) solid;
  padding: 0.4rem;
  font-size: 1.4rem;
  padding: 0 0;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.2s;
}
.page-header .menu a.item:hover, .page-header .menu a.item:focus {
  background: var(--gray-color);
}
.page-header .menu a.item div {
  display: flex;
  flex-direction: row;
}
.page-header .menu .item .icon {
  height: 3rem;
  width: 3rem;
  margin: 0;
}
.page-header .menu.open, .page-header .menu:has(a:focus) {
  top: var(--header-height);
  width: 30%;
}
.page-header .toolbox {
  right: 0;
  transform: translateX(100%);
  width: 20%;
  position: fixed;
  top: var(--header-height);
}
.page-header .toolbox .item {
  border-bottom: solid var(--gray-color);
  padding: 0.4rem;
  overflow-x: hidden;
}
.page-header .toolbox .item a {
  color: var(--theme-color);
}
.page-header .toolbox .item a[target=_blank]::after {
  content: "↗";
}
.page-header .toolbox.open, .page-header .toolbox:has(a:focus) {
  top: var(--header-height);
  width: 20%;
  transform: translateX(0);
}
.page-header button.toolbox-button:before {
  content: "◀";
  color: var(--text-color);
}
.page-header button.toolbox-button.open::before {
  content: "▶";
  color: var(--text-color);
}

/* Page Content*/
.page-content {
  margin: 2rem 10rem 0 10rem;
}

.page-footer {
  margin: 4rem 10rem 0 10rem;
  text-align: center;
}

/* For Mobile Devices */
@media screen and (orientation: portrait) {
  :root {
    --header-height: 6rem;
  }
  .page-header .menu {
    top: var(--header-height);
  }
  .page-header .menu.open {
    top: var(--header-height);
    width: 60%;
  }
  .page-header {
    height: var(--header-height);
  }
  .page-header .menu-button {
    width: var(--header-height);
  }
  .page-header .menu a.item {
    min-height: var(--header-height);
  }
  .page-header .toolbox {
    width: 30%;
  }
  .page-header .toolbox.open {
    top: var(--header-height);
    width: 30%;
  }
  .page-content {
    margin: 4rem 6rem 0 6rem;
  }
  .page-footer {
    margin: 4rem 6rem 0 6rem;
  }
  .toolbox {
    top: var(--header-height);
  }
}
/* Tailwind-like util classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center.left {
  justify-content: left;
}

.padding-all-small {
  padding: 0.4rem;
}

.no-select {
  user-select: none;
}

.svg-monocolor {
  fill: var(--text-color);
}

.adapt-header {
  min-width: var(--header-height);
}

.adapt-header-strict {
  width: var(--header-height);
  height: var(--header-height);
}

.no-bg {
  background: none !important;
}

.float-right {
  float: right;
}

/* Animations */
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=aquamarine.css.map */
