@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("./palette.css");
/* General */
:root {
  --theme-color-50: var(--aqua-50);
  --theme-color-100: var(--aqua-100);
  --theme-color-200: var(--aqua-200);
  --theme-color-300: var(--aqua-300);
  --theme-color-400: var(--aqua-400);
  --theme-color-500: var(--aqua-500);
  --theme-color-600: var(--aqua-600);
  --theme-color-700: var(--aqua-700);
  --theme-color-800: var(--aqua-800);
  --theme-color-900: var(--aqua-900);
  --theme-color-950: var(--aqua-950);
  --color-info: var(--blue-400);
  --color-warn: var(--orange-400);
  --color-danger: var(--red-400);
  --color-safe: var(--green-500);
  --background-color: #fcfcfc;
  --background-color-darken: #ededed;
  --text-color: #0F0F0F;
  --text-color-2: #fff;
  --text-color-secondary: var(--gray-400);
  --text-color-select: #fff;
  --gray-color: #cccccc;
  --dark-gray-color: #888888;
  --theme-color: var(--theme-color-500);
  --darkened-theme-color: var(--theme-color-600);
  --secondary-theme-color: #fff;
  --darkened-secondary-theme-color: #ccc;
  --box-shadow-color: #0F0F0F22;
  --link-color: var(--theme-color-600);
  --link-color-visited: var(--theme-color-800);
  --border-color-common: #cfcfcf;
  --button-bg: var(--gray-100);
  --button-bg-focus: var(--gray-200);
  --header-bg: #fcfcfc99;
  --scroll-track-color: var(--background-color);
  --scroll-thumb-color: var(--theme-color);
  --blockquote-bg: #00000011;
  --selection-bg: color-mix(in srgb, var(--darkened-theme-color) 60%, transparent);
  --header-height: 3.6rem;
  --transition-time-common: 0.2s;
  --transition-time-fast: 0.1s;
  scroll-behavior: smooth;
  font-family: "Metropolis", "Readex Pro", "Noto Sans SC", sans-serif, "Material Symbols Outlined";
  font-size: 16px;
  scrollbar-color: var(--theme-color) var(--background-color);
}

:root.dark-mode {
  --background-color: #1e1e1e;
  --background-color-darken: #181818;
  --text-color: #fff;
  --text-color-2: #888;
  --text-color-secondary: var(--gray-500);
  --text-color-select: #Fff;
  --gray-color: #3b3b3b;
  --dark-gray-color: #2b2b2b;
  --theme-color: var(--theme-color-600);
  --darkened-theme-color: var(--theme-color-700);
  --secondary-theme-color: #fff;
  --darkened-secondary-theme-color: #ccc;
  --box-shadow-color: #66666622;
  --link-color: var(--theme-color-500);
  --link-color-visited: var(--theme-color-700);
  --border-color-common: #3c3c3c;
  --button-bg: var(--gray-800);
  --button-bg-focus: var(--gray-700);
  --header-bg: #1e1e1e99;
  --scroll-track-color: var(--background-color);
  --scroll-thumb-color: var(--theme-color);
  --blockquote-bg: #00000033;
  --selection-bg: color-mix(in srgb, var(--darkened-theme-color) 60%, transparent);
}

::selection {
  background-color: var(--selection-bg);
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  position: relative;
  min-height: calc(100vh - (2rem + var(--header-height)));
  transition: all 0.3s;
}

* {
  box-sizing: border-box;
  position: relative;
}

a[target=_blank]::after {
  content: "↗";
  content: "\e89e";
  position: relative;
  top: 0.1rem;
  color: var(--text-color);
}

a.no-deco[target=_blank]::after {
  display: none;
}

h1, h2, h3, h4, h5, h6, p {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", "Metropolis", "Readex Pro", "Noto Sans SC", sans-serif, "Material Symbols Outlined";
}

table {
  border-spacing: 0;
  border: 1px solid var(--border-color-common);
}
table thead {
  background: var(--background-color-darken);
}
table th {
  border: 1px solid var(--border-color-common);
}
table td {
  border: 1px solid var(--border-color-common);
}

blockquote {
  background-color: var(--blockquote-bg);
  border-left: 6px solid var(--gray-color);
  padding: 1em 0.6em;
  position: relative;
  box-sizing: border-box;
  margin: 1em 2em;
}
blockquote::before {
  position: absolute;
  left: 0.4em;
  top: 50%;
  margin-right: 1rem;
  font-size: 2em;
  display: inline-block;
  line-height: 1rem;
  height: 100%;
}
blockquote::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

blockquote:is(.info, .warn, .danger) {
  padding-left: 3.6em;
}

blockquote.info {
  border-left-color: var(--color-info);
  background: unset;
}
blockquote.info::before {
  content: "\e88e";
}
blockquote.info::after {
  background: var(--color-info);
}

blockquote.warn {
  border-left-color: var(--color-warn);
  background: unset;
}
blockquote.warn::before {
  content: "\e002";
}
blockquote.warn::after {
  background: var(--color-warn);
}

blockquote.danger {
  border-left-color: var(--color-danger);
  background: unset;
}
blockquote.danger::before {
  content: "\e99a";
}
blockquote.danger::after {
  background: var(--color-danger);
}

input {
  font-family: inherit;
}

input[type=file]::-webkit-file-upload-button {
  font-family: inherit;
  border: none;
  color: inherit;
  background: var(--button-bg);
  transition: var(--transition-time-common);
}

input[type=file]:is(:hover, :focus)::-webkit-file-upload-button {
  background: var(--button-bg-focus);
}

button {
  font-family: inherit;
  background-color: var(--button-bg);
  border: none;
  transition: var(--transition-time-common);
  color: var(--text-color);
}

button:hover, button:focus {
  background-color: var(--button-bg-focus);
}

.btn-primary {
  min-width: 8rem;
  min-height: 2rem;
  transition: var(--transition-time-common);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
  background-color: var(--theme-color-500);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--theme-color-400);
}

.btn-regular {
  min-width: 8rem;
  min-height: 2rem;
  transition: var(--transition-time-common);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
}

hr {
  border: none;
  border-top: solid var(--text-color) 2px;
}
hr.break {
  width: 70%;
}

ul {
  padding-inline-start: 1.8em;
}
ul ul {
  padding-inline-start: 1.2em;
}
ul.file-list {
  list-style-type: none;
  padding-inline-start: 0em;
  line-height: 1em;
}
ul.file-list li::before {
  content: "├";
  margin-right: 0.2em;
}
ul.file-list li:last-child::before {
  content: "└";
}

.notation {
  border-left: 0.2em solid var(--border-color-common);
  border-right: 0.2em solid var(--border-color-common);
  background-color: var(--background-color-darken);
  text-align: center;
  padding: 2em 3em;
  margin: 0.4em 0;
}

.modal {
  border: 0.25em solid var(--border-color-common);
  background-color: var(--background-color-darken);
  text-align: center;
  padding: 2em 3em;
  margin: 0.4em 1.6em;
}

.page-content a, .page-footer a, .toolbox a {
  color: var(--link-color);
  background: linear-gradient(to right, var(--link-color), var(--link-color)) no-repeat right bottom;
  background-size: 0 2px;
  transition: background-size 200ms;
  text-decoration: none;
}
.page-content a:hover, .page-content a:focus, .page-footer a:hover, .page-footer a:focus, .toolbox a:hover, .toolbox a:focus {
  background-position-x: left;
  background-size: 100% 2px;
}
.page-content a:visited, .page-footer a:visited, .toolbox a:visited {
  --link-color: var(--link-color-visited);
}

.float-div {
  z-index: 99;
  min-width: var(--header-height);
  min-height: var(--header-height);
  box-shadow: 0px 4px 8px var(--box-shadow-color);
}

.keycap, kbd {
  font-family: monospace;
  color: var(--text-color);
  border: 2px solid var(--border-color-common);
  box-shadow: inset 0 -1px 0 0 var(--border-color-common);
  border-radius: 0.2em;
  padding: 0 0.2em;
  font-size: 0.8em;
}

.f-bold {
  font-weight: bold;
}

.f-italic {
  font-style: italic;
}

.f-large {
  font-size: large;
}

.align-center {
  text-align: center;
  max-width: unset;
}

:not(:defined) {
  visibility: hidden;
}

/* Small Components */
#clock {
  width: 100%;
  padding: 0.4rem;
  text-align: center;
}

#to-top {
  animation: 0.3s ease-in show;
}
#to-top button {
  width: var(--header-height);
  height: var(--header-height);
  background: var(--background-color);
  border: none;
  color: inherit;
}
#to-top button:hover {
  background: var(--gray-color);
}
#to-top.ani__hide {
  animation: 0.3s ease-in hide;
}

/* Page Header and menu */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0px 4px 8px var(--box-shadow-color);
  display: flex;
  z-index: 99;
  background: var(--header-bg);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.page-header .menu-button {
  width: var(--header-height);
  height: var(--header-height);
  background-image: linear-gradient(180deg, var(--theme-color), var(--theme-color));
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 0%;
  transition: var(--transition-time-common);
  position: relative;
}
.page-header .menu-button button {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  cursor: pointer;
  transition: var(--transition-time-common);
}
.page-header .menu-button a {
  width: var(--header-height);
  height: var(--header-height);
}
.page-header .menu-button:hover, .page-header .menu-button:has(*:hover, *:focus) {
  background-size: 100% 100%;
}
.page-header .menu-button::after {
  position: absolute;
  content: "";
  display: block;
  inset: 0;
  background-image: linear-gradient(180deg, var(--darkened-theme-color), var(--darkened-theme-color));
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 0%;
  transition: var(--transition-time-fast);
  z-index: -1;
}
.page-header .menu-button:hover::after {
  background-size: 100% 100%;
}
.page-header a {
  text-decoration: none;
  color: var(--text-color);
  transition: var(--transition-time-common);
}
.page-header a::after {
  content: "";
}
.page-header a.page-category:hover, .page-header a.page-category:focus {
  background: var(--darkened-theme-color);
}
.page-header button {
  color: inherit;
  -webkit-user-select: none;
  user-select: none;
}
.page-header button.menu-button::before {
  content: "\e5d2";
  color: var(--text-color);
}
.page-header button.menu-button.open::before {
  content: "\e5cd";
  color: var(--text-color);
}
.page-header .page-icon {
  display: flex;
}
.page-header .page-icon img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
.page-header .page-category {
  font-size: 1.4rem;
  font-weight: bold;
}
.page-header .page-title {
  font-size: 1.6rem;
  padding: 0.4rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity var(--transition-time-common);
  cursor: default;
}
.page-header .right {
  position: absolute;
  right: 0;
}
.page-header .all-menu {
  position: absolute;
  top: var(--header-height);
  overflow-x: hidden;
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0.75, 0, 0.25, 1);
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  z-index: 100;
  box-shadow: 0px 4px 8px var(--box-shadow-color);
}
.page-header .menu {
  left: 0;
  width: 20em;
  height: calc(100vh - var(--header-height));
  align-items: flex-start;
}
.page-header .menu a.item {
  min-height: var(--header-height);
  border-bottom: var(--gray-color) solid;
  padding: 0.4rem;
  font-size: 1.4rem;
  padding: 0 0;
  width: 100%;
  color: var(--text-color);
  text-decoration: none;
  transition: var(--transition-time-common);
  background: linear-gradient(var(--theme-color), var(--theme-color));
  background-position: left;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.page-header .menu a.item:is(:hover, :focus) {
  background-size: 100% 100%;
  color: var(--category-text-color);
}
.page-header .menu a.item::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  content: "";
  background: linear-gradient(var(--darkened-theme-color), var(--darkened-theme-color));
  background-position: left;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: var(--transition-time-fast);
}
.page-header .menu a.item:is(:hover, :focus)::after {
  background-size: 100% 100%;
}
.page-header .menu a.item div {
  display: flex;
  flex-direction: row;
}
.page-header .menu .item .icon {
  height: 3rem;
  width: 3rem;
  margin: 0;
}
.page-header .menu.open, .page-header .menu:has(a:focus) {
  transform: translateX(0);
}
.page-header .toolbox {
  right: 0;
  transform: translateX(100%);
  width: 20em;
}
.page-header .toolbox .item {
  border-bottom: solid var(--gray-color);
  padding: 0.4rem;
  overflow-x: hidden;
}
.page-header .toolbox .item a {
  color: var(--link-color);
  background: linear-gradient(to right, var(--link-color), var(--link-color)) no-repeat right bottom;
  background-size: 0 2px;
  transition: background-size 200ms;
  text-decoration: none;
}
.page-header .toolbox .item a:hover, .page-header .toolbox .item a:focus {
  background-position-x: left;
  background-size: 100% 2px;
}
.page-header .toolbox .item a[target=_blank]::after {
  content: "\e89e";
}
.page-header .toolbox.open, .page-header .toolbox:has(a:focus) {
  transform: translateX(0);
}
.page-header button.toolbox-button:before {
  content: "\e2ea";
  color: var(--text-color);
}
.page-header button.toolbox-button.open::before {
  content: "\e5e1";
}

/* Page Content*/
.page-content {
  margin: calc(2rem + var(--header-height)) min(10rem, 10%) 0 min(10rem, 10%);
  min-height: calc(100vh - 20rem);
}

.page-footer {
  margin: 4rem min(10rem, 10%) 2rem min(10rem, 10%);
  text-align: center;
}

/* For Mobile Devices */
@media screen and (orientation: portrait), screen and (max-width: 480px) {
  :root {
    --header-height: 3rem;
  }
  .page-header .menu {
    width: 16em;
  }
  .page-content {
    margin: calc(2rem + var(--header-height)) 1rem 0 1rem;
  }
  .page-footer {
    margin: 4rem 1rem 0 1rem;
  }
}
/* Tailwind-like util classes */
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center.left {
  justify-content: left;
}

.flex-wrap, .flex.wrap {
  flex-wrap: wrap;
}

.padding-all-small {
  padding: 0.4rem;
}

.no-select {
  -webkit-user-select: none;
  user-select: none;
}

.svg-monocolor {
  fill: var(--text-color);
}

.adapt-header {
  min-width: var(--header-height);
}

.adapt-header-strict {
  width: var(--header-height);
  height: var(--header-height);
}

.no-bg {
  background: none !important;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

/* Animations */
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  to {
    opacity: 0;
  }
}
/* Components */
button[title="Toggle Dark Mode"] {
  user-select: none;
  color: transparent;
  position: relative;
}
button[title="Toggle Dark Mode"]::before {
  color: var(--text-color);
  content: "\e518";
  position: absolute;
}

:root.dark-mode button[title="Toggle Dark Mode"]::before {
  content: "\e51c";
}

/*# sourceMappingURL=aquamarine.css.map */
