$light-bg-color: #fcfcfc;
$light-text-color: #0F0F0F;
$light-text-color-2: #fff;
$light-gray-color: #cccccc;
$light-dark-gray-color: #888888;
$light-theme-color: #00ffd0;
$light-darkened-theme-color: #1dc3a5;
$light-box-shadow-color: #0F0F0F22;

$dark-bg-color: #1e1e1e;
$dark-text-color: #fff;
$dark-text-color-2: #888;
$dark-gray-color: #3b3b3b;
$dark-dark-gray-color: #2b2b2b;
$dark-theme-color: #1dc3a5;
$dark-darkened-theme-color: #169d84;
$dark-box-shadow-color: #44444422;