<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset= "utf-8">
    <link rel="stylesheet" type="text/css" href="https://N-Wither.github.io/assets/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Readex+Pro">
    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/63383462?v=4">
    <title>Template</title>
    <script src="https://n-wither.github.io/assets/js/clock.js"></script>
    <script src="https://n-wither.github.io/assets/js/hello.js"></script>
</head>
<body onload="startTime(), hello(), randomQuote()">
    <div>
        <ul class="navigate">
            <li class="sidebar"><a href="https://n-wither.github.io">Home</a></li>
            <li class="sidebar"><a href="https://n-wither.github.io/categories/writings/index.html/">Writings</a></li>
        </ul>
    </div>
    <div class="pos_fixed" style="background-color: #33ffff44; padding: 1.5em;">
        <p id="clock">clock</p>
    </div>
    <div class="content">
        <div>
            <h1>Title</h1>
            <hr/>
        </div>
        <div class="mainText">
            <p>
                Text here.
            </p>
            <br/>
        </div>
        <div id="footer" style="clear:both;text-align:center;">
            <hr/>
            <span id="randomQuote">Random Quote</span>
            <br>
            Powered by <a href="https://pages.github.com/" >Github Pages</a>.
        </div>
    </div>
</body>
</html>