<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset= "utf-8">
    <link href="https://n-wither.github.io/assets/css/metropolis.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto Serif SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans SC' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://N-Wither.github.io/assets/css/main-1.css">
    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/63383462?v=4">
    <title>Template</title>
    <script src="../assets/js/utils.js" defer></script>
    <script>
        document.title = 'Edit This';
        let setElements = () => {
            document.getElementById('category').innerHTML = 'Edit This';
            document.getElementById('page-title').innerHTML = 'Page Title';
        }

        function init(){
            startTime();
            hello();
            randomQuote();
            setElements();
        }
    </script>
</head>
<body onload="init()">
    <div class="navigate" id="navigate">
        <a href="#" style="line-height: unset; height: 50px;">📂<span style="font-size: larger; font-weight: bolder;" id="category">Edit This</span></a>
        <a href="https://n-wither.github.io">🏠<span>Home</span></a>
        <a href="https://n-wither.github.io/writings/index.html">📚<span>Articles</span></a>
        <a href="https://n-wither.github.io/tools/tools.html">🔧<span>Tools</span></a>
        <a href="./games/">🎮<span>Games</span></a>
        <a href="https://n-wither.github.io/misc/web-playground.html">🧩<span>Misc</span></a>
    </div>
    <div class="toolbox" id="toolbox">
        <div class="toolbox-grip">|||</div>
        <div id="clock">clock</div>
    </div>
    <div class="content">
        <div>
            <h1 id="page-title">Title</h1>
            <hr/>
        </div>
        <div class="mainText">
            <p>
                Text here.
            </p>
        </div>
        <div id="footer" style="clear:both;text-align:center;">
            <hr/>
            <span id="randomQuote">Random Quote</span>
            <br>
            Powered by <a href="https://pages.github.com/" >Github Pages</a>.
        </div>
    </div>
</body>
</html>