:root {
    --background-color: #f0f0ec;
    --backfround-color-darken: #e5e5db;
    --text-color: #121212;
    --gray-color: #d0d0cc;
    --dark-gray-color: #c1c1be;
    --theme-color: var(--theme-color-700);
    --link-color: var(--theme-color-700);

    --header-bg: #f0f0ec99;
}

:root.dark-mode {
    --background-color: #1d1d1d;
    --backfround-color-darken: #151515;
    --text-color: #e6e6e6;
    --gray-color: #464643;
    --dark-gray-color: #2e2e2b;
    --theme-color: var(--theme-color-700);
    --link-color: var(--theme-color-500);

    --header-bg: #1d1d1d99;
}

:root {
    --theme-color-50: var(--indigo-50);
    --theme-color-100: var(--indigo-100);
    --theme-color-200: var(--indigo-200);
    --theme-color-300: var(--indigo-300);
    --theme-color-400: var(--indigo-400);
    --theme-color-500: var(--indigo-500);
    --theme-color-600: var(--indigo-600);
    --theme-color-700: var(--indigo-700);
    --theme-color-800: var(--indigo-800);
    --theme-color-900: var(--indigo-900);
    --theme-color-950: var(--indigo-950);
}