:root {
    --theme-color-50:  var(--purple-50);
    --theme-color-100: var(--purple-100);
    --theme-color-200: var(--purple-200);
    --theme-color-300: var(--purple-300);
    --theme-color-400: var(--purple-400);
    --theme-color-500: var(--purple-500);
    --theme-color-600: var(--purple-600);
    --theme-color-700: var(--purple-700);
    --theme-color-800: var(--purple-800);
    --theme-color-900: var(--purple-900);
    --theme-color-950: var(--purple-950);
}

:root {
    --background-color: #f7eef8;
    --background-color-darken: #eee0ef;
    --text-color: #151316;
    --text-color-2: #fff;
    --text-color-secondary: var(--gray-400);
    --text-color-select: #fff;
    --gray-color: #e5c8e7;
    --dark-gray-color: #888888;
    --theme-color: var(--theme-color-500);
    --darkened-theme-color: var(--theme-color-600);
    --secondary-theme-color: #fff;
    --darkened-secondary-theme-color: #ccc;
    --box-shadow-color: #e1cce399;
    --link-color: var(--theme-color-600);
    --link-color-visited: var(--theme-color-800);
    --border-color-common: #e5c7e7;

    --button-bg: var(--purple-100);
    --button-bg-focus: var(--purple-200);
    --header-bg: #f7eef899;
    --scroll-track-color: var(--background-color);
    --scroll-thumb-color: var(--gray-color);
    --blockquote-bg: #00000011;
    --category-text-color: #ffffff;
}

:root.dark-mode {
    --background-color: #171317;
    --background-color-darken: #1a161a;
    --text-color: #fff;
    --text-color-2: #888;
    --text-color-secondary: var(--gray-500);
    --text-color-select: #Fff;
    --gray-color: #342934;
    --dark-gray-color: #2b2b2b;
    --theme-color: var(--theme-color-600);
    --darkened-theme-color: var(--theme-color-700);
    --secondary-theme-color: #fff;
    --darkened-secondary-theme-color: #ccc;
    --box-shadow-color: #20192099;
    --link-color: var(--theme-color-500);
    --link-color-visited: var(--theme-color-700);
    --border-color-common: #362436;

    --button-bg: var(--purple-800);
    --button-bg-focus: var(--purple-700);
    --header-bg: #17131799;
    --scroll-track-color: var(--background-color);
    --scroll-thumb-color: var(--gray-color);
    --blockquote-bg: #00000033;
    --category-text-color: var(--text-color);
}