<!DOCTYPE html>
<html lang="zh-cn" class="theme-dark" data-default-theme>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>世界尽头的旅者之诗</title>
    <link rel="shortcut icon" href="/projects/c/assets/img/ella_avatar.webp">
    <link rel="stylesheet" href="/assets/css/aquamarinev2/global.css">
    <link rel="stylesheet" href="/assets/css/themes/violite/global.css">
    <script type="module" src="/web-components/page/combined.js"></script>
</head>
<body>
    <page-header variant="compact">
        <!-- <div slot="category" class="f-bold f-xl flex center">C1000</div> -->
    </page-header>
    <tool-box>
        <page-info>
            <div class="f-b">遗失的片段：世界尽头的旅者之诗</div>
            <div>关于世界、梦想、旅行与故事。</div>
            <div>作者是 N Wither。</div>
        </page-info>
    </tool-box>
    <div class="page-content">
        <h1 class="page-title">世界尽头的旅者之诗</h1>
        <hr>
        <p>与世隔绝却自给自足，少女从小便生活在这样的一个村庄。日出而作，日落而息，简单而规律，没有什么值得抱怨的，一切都很好。</p>
        <p>直到有一天，一个陌生人来到了这个小村，他自称是个吟游诗人，同时也是个游商。所有人，包括少女都对他的到来展现出了极大的兴趣。那些来自异乡的货品和故事让她知道，原来世界远不止自己身边的这片花上半天时间就能走完的土地。在她从未听过的远方，城镇、高山、大海……处处独特，却和她共处在同一片天空之下。</p>
        <p>吟游诗人没有在这里停留多久就离开了，但少女的内心里却永久地多出了什么。</p>
        <p>她没有向别人谈过这些，但她的母亲看出了她的忧虑。</p>
        <p>“还在想着那个人的事情吗？”</p>
        <p>“是……”</p>
        <p>“可是他已经走远了。”</p>
        <p>“嗯……”</p>
        <p>“你要走吗？”</p>
        <p>“诶？”</p>
        <p>“我们已经走不动了，你还年轻，如果你想和他一样，那就去吧。”</p>
        <p>“可是，我不知道我能不能行。”</p>
        <p>“你已经长大了，别让自己后悔。”</p>
        <p>下定决心，少女踏上了前往世界的旅程。</p>
        <p>但是环绕自己家乡的森林不会让她轻易离开。之前，它是保护村庄的围墙，现在，它是围困少女的迷宫。没有道路，没有指引，仅仅只是在茂密的树冠下辨别方向，对她而言就已是莫大的挑战。</p>
        <p>筋疲力尽的她躺在林间空地上，周围的一切都在劝她，现在回去，还不算太迟；现在回去，她还能继续原本那平淡却安全的生活。</p>
        <p>她也在问自己，抛弃自己熟悉的一切，去追寻那个仅仅只是道听途说的世界，这个选择真的正确吗？</p>
        <p>她不知道，但她会自己找到答案。</p>
        <p>稍作休整，她继续寻找这片森林的出路。</p>
        <p>缠结的枝叶在她的坚持下逐渐稀疏，庞大的森林最终为她让出了路，一条河流出现在森林的边缘。</p>
        <p>这里的一切对她都是全新的体验，但她也并非完全的无知，这些仅有的知识告诉她，跟着河流走，就能找到有人的地方。</p>
        <p>顺流而下，她来到了一座陌生的城镇，这里有太多的人，也有太多她说不出名字的奇特事物。</p>
        <p>看来她还有很多东西要学，但她已经踏出了第一步。</p>
        <p>之后的时光里，她探索世界的旅途从这座小镇开始，延伸向世界上的更多角落。那些吟游诗人曾经向她讲述过的，也渐渐从语言的幻想变成眼中的现实。</p>
        <p>现在，她已经看遍世界上的每一个地方，如今的世界对于她来说已经太小，她似乎又变回了那个生活在偏远村庄的小女孩。尽管所有人都告诉她，这个世界上已经没有什么秘密了，她可以停下了，但她的内心还在渴望着更多、更远。</p>
        <p>长时间的寻觅，她在大陆最远端的一个小镇听到了一个传说。</p>
        <p>在远离大陆的大海边缘，有着一片被风暴包围的秘境，那里就是世界的尽头，没有任何生命在那里存在，也没有任何人能够突破风暴的封锁，一窥那里的景象。</p>
        <p>即使这只是个传说，没人知道那片永久风暴的中心是不是真的有陆地，她还是想去亲眼看看，就和她当初选择离开自己的家乡一样。</p>
        <p>听到这个消息的人都劝她不要这样做，这比她当初的选择危险太多，不要为了一个缥缈的传说搭上性命，这个世界已经够大，足够她旅行一辈子的了。</p>
        <p>她笑笑，如果她没有得知这个传说，那她可能会止步于此，但她现在知道了这些，就不可能再安于现状。</p>
        <p>终于，一位经验丰富的老渔民答应带她前往那永恒的风暴之海。</p>
        <p>“我只能送你到这了，之后就看你自己了，祝你好运，姑娘。”</p>
        <p>“到这里已经够了，您回去吧。”</p>
        <p>这仅供一人划行的小船就是她前往世界尽头的唯一手段。远方的天空中翻滚着浓厚的乌云，持续不断地透出闪电的光，即使隔着如此远的距离，风暴的余波也在将她的发梢吹起。</p>
        <p>她鼓起勇气，向着那从未有人涉足的禁区行进。</p>
        <p>随着她的前进，风在变强，浪在变高，寒冷的雨点也从风暴中被甩出，溅在她的身上。颠簸的船让她头晕目眩，雨水在带走她身上的热量，咆哮的风在阻止她继续，这一切都在试图保护风暴中心的秘密。</p>
        <p>她想起了包围着故乡的森林。</p>
        <p>她拒绝了风暴的劝说，于是<b>某物</b>开始发怒，它要以最激烈的方式阻止她探寻这最终的秘密。</p>
        <p>风浪增长到堪称恐怖的强度，小船再也无法承受这样的摧残，她随着船的倾覆落入冰冷翻腾的蓝黑色海水中，她知道这水面下是不可测的深渊，而最近的陆地就是那传说中的世界尽头。</p>
        <p>她拼命地抓住小船的残骸，勉强浮在海面上，楼房般的海浪一次又一次地要将她淹没，但是她还在往前，尽管很慢很慢，但她确实是在往那风暴的中心更近一步，往<b>某物</b>的防御深入一分。</p>
        <p>世界的尽头在拒绝她，<b>它</b>不想让人打扰，<b>它</b>只想在风暴的保护下静静地存在，这很好，没有什么可抱怨的。</p>
        <p>但她也在拒绝它，她不知道为什么，她的身体确实地在用最后的气力在狂风、骇浪和骤雨中前行，仿佛是某种本能一般。即使她的意识几乎模糊，但她还是能感受到，<b>某物</b>正在屈服。</p>
        <p>不可知的一段时间过去，她再次睁开眼睛，海面已经变得平静，而她一直抱着那块船上的木板，以至于她的双臂几乎锁死，指甲深深嵌入木头中。</p>
        <p>风暴消失了——不，风暴没有消失，而是她来到了风暴的中心，墨色的风暴云中央是一片晴朗的天空，在入射的阳光照耀下，她能看到它了。</p>
        <p>这是一片白色的世界，没有地标，没有生命，地面不是冰，不是雪，不是泥土，也不是岩石。早已见多识广的她也没能分辨出这究竟是怎样一种材质，但这也不重要。</p>
        <p>她是第一个来到世界尽头的人，这里在世界诞生之时就存在，就是这样一片一马平川的白色，亘古不变。没有证据能证明这一点，但<b>某物</b>告诉了她这些。</p>
        <p>什么？</p>
        <p>她刚刚才意识到，这里除了她，还有别的<b>某物</b>。</p>
        <p><b>它</b>就在这白色世界的中央，世界尽头的最深处。</p>
        <p><b>“你想要什么？”它</b>说话了，<b>它</b>没有发出声音，但她能听到。</p>
        <p>“你是什么？”她反问。</p>
        <p><b>“你想要什么，我就是什么。”</b></p>
        <p>她思考，她想要什么？</p>
        <p>她向<b>它</b>伸出手，<b>它</b>所在的地方空无一物。</p>
        <p>空无一物中出现了光，某种无名的色彩。</p>
        <p>她不知道自己想要什么，但她知道自己<i>不</i>想要什么。</p>
        <p>色彩变幻，她看到了自己出生的那个村庄，然后是森林、河流、城镇、高山、海洋，她看到种子长成一棵巨树，看到荒地建造为城市，看到无数生命的诞生、繁荣、消亡，看到繁星闪烁明灭，看到世界的过去、现在和未来，看到所有的存在和不存在，看到一切的可能与不可能。</p>
        <p>她不想要世界有尽头，因为这代表着一切故事的终结，而没有故事的世界也没有意义。</p>
        <p>她的故事已经接近尾声，但<b>它</b>可以创造更多。</p>
        <p><b>它</b>开始膨胀，在这亿万年来没有变化的世界尽头，第一次出现了时间。</p>
        <p>时间流逝，她所看到的一切开始成为一切的现实。</p>
        <p>于是世界不再有尽头，故事亦生生不息。</p>
    </div>
    <page-footer>
        <div slot="quote"></div>
    </page-footer>
</body>
</html>
