/* Dices */
.dices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    font-family: 'Metropolis', 'Montserrat', 'Noto Sans SC', 'Sans Serif', 'icons';
}
.dices div {
    background-color: #180a02;
    border-color: goldenrod;
    border-width: 2px;
}
.dices select {
    background-color: #291103;
    color: white;
    border-color: goldenrod;
}
.dices select option:hover {
    background-color: goldenrod;
}
.dice-select {
    border-style: solid;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}
.dice-select select {
    font-family: inherit;
}
.dice-display {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    flex-direction: column;
}
.dice-label {
    font-size: 86px;
}
.dices button.dice-roll {
    background-color: #180a02;
    border: 2px solid goldenrod;
    color: white;
    font-family: inherit;
    padding: 6px;
    width: 100%;
}
.dices button:active.dice-roll {
    background-color: goldenrod;
}
.dices button:disabled.dice-roll {
    background-color: #221b18;
    color: gray;
}
.dice-roll-all {
    grid-column-start: 1;
    grid-column-end: 5;
}
#dice-roll-all {
    padding: 8px;
    font-size: large;
    font-weight: bold;
}