#milksim {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.panel button {
    margin: 0.5em;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.shop {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5em;
}

.shop h2 {
    position: sticky;
    top: 0;
}

.shop button {
    width: 100%;
    border: none;
    cursor: pointer
}

button:disabled {
    cursor: not-allowed;
}

.list {
    max-height: 640px;
    overflow-y: auto;
}

button.sold {
    background-color: #00000099;
    color: gray;
    cursor: not-allowed;
    border: none;
}

.news {
    margin-top: 4em;
    background-color: #00000033;
    min-height: 3em;
}