body {
    font-family: 'Metropolis', 'Montserrat', 'Noto Sans SC', 'Sans Serif', 'icons';
}

select {
    font-family: inherit;
}

/* MOBA Scoreboard*/

.moba-scoreboard {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 50px 18px;
    width: 100%;
    user-select: none;
}

.moba-scoreboard img {
    max-width: 40px;
    max-height: 40px;
}

.moba-scoreboard div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.moba-scoreboard .row-1{
    background-color: #333333;
}

.moba-scoreboard .row-2{
    background-color: #33333388;
    font-size: 10px;
}

.moba-scoreboard .team-name {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.moba-scoreboard .team-name :nth-child(2){
    font-size: 10px;
    font-weight: normal;
}

.moba-scoreboard .towers :nth-child(1){
    font-size: 24px;
}

.moba-scoreboard .gold :nth-child(1){
    font-size: 24px;
}

.moba-scoreboard .team-blue {
    display: flex;
    background-color: mediumturquoise;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.moba-scoreboard .team-red {
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.moba-scoreboard .kills {
    font-size: 30px;
    font-weight: bold;
}

.moba-scoreboard .score-area {
    gap: 3px;
    background: transparent;
}

.moba-scoreboard .score-blank {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #666666;
    padding: 0;
}

.moba-scoreboard .score-blue {
    display: block;
    width: 8px;
    height: 8px;
    background-color: mediumturquoise;
    border-color: white;
    padding: 0;
}

.moba-scoreboard .score-red {
    display: block;
    width: 8px;
    height: 8px;
    background-color: crimson;
    border-color: white;
    padding: 0;
}

.moba-scoreboard .dragons {
    padding: 0;
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.moba-scoreboard .dragons-blue{
    grid-column-start: 5;
    grid-column-end: 6;
    flex-direction: row-reverse;
    justify-content: end;
}

.moba-scoreboard .dragons-red{
    grid-column-start: 7;
    grid-column-end: 8;
    flex-direction: row;
    justify-content: start;
}

.moba-scoreboard .infernal::before {
    content: url('https://n-wither.github.io/assets/imgs/lol/infernal.svg');
}
.moba-scoreboard .mountain::before {
    content: url('https://n-wither.github.io/assets/imgs/lol/mountain.svg');
}
.moba-scoreboard .ocean::before {
    content: url('https://n-wither.github.io/assets/imgs/lol/ocean.svg');
}
.moba-scoreboard .cloud::before {
    content: url('https://n-wither.github.io/assets/imgs/lol/cloud.svg');
}
.moba-scoreboard .chemtech::before {
    content: url('https://n-wither.github.io/assets/imgs/lol/chemtech.svg');
}
.moba-scoreboard .hextech::before {
    content: url('https://n-wither.github.io/assets/imgs/lol/hextech.svg');
}

.scoreboard-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #333333;
}

.scoreboard-control input {
    max-width: 50px;
    font-family: 'Metropolis', 'Montserrat', 'Noto Sans SC', 'Sans Serif';
}

.scoreboard-control button {
    font-family: 'Metropolis', 'Montserrat', 'Noto Sans SC', 'Sans Serif';
}

.scoreboard-control div {
    display: flex;
    padding: 4px;
    justify-content: center;
    gap: 8px;
}

.scoreboard-control .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.blue-side-stat {
    background: #48d1cc66;
}

.red-side-stat {
    background: #dc143c66;
}

img.filter-white {
    filter: brightness(0) invert();
}

.moba-scoreboard .score-teamBlue {
    display: block;
    width: 8px;
    height: 8px;
    background-color: mediumturquoise;
    border-color: white;
    padding: 0;
}

.moba-scoreboard .score-teamRed {
    display: block;
    width: 8px;
    height: 8px;
    background-color: crimson;
    border-color: white;
    padding: 0;
}

.buff-container {
    position: relative;
    padding: 0;
}

.buff-container .text {
    position: absolute;
    z-index: 1;
}

.buff-progress {
    position: absolute;
    left: 0;
    height: 100%;
    padding: 0;
    z-index: 0;
    width: 0;
    transition: width 0.2s;
}

.baron.buff-progress {
    background-color: blueviolet;
}

.elder.buff-progress {
    background-color: #d9baea;
}

embed {
    width: 16px;
    height: 16px;
    position: relative;
    top: 1px
}