#timer {
    display: flex;
    width: 100%;
    height: 300px;
    font-size: 200px;
    font-family: 'Chakra Petch', monospace;
}

#timer-hr {
    margin-left: auto;
}

#timer-sc {
    margin-right: auto;
}

.control {
    background-color: #00000066;
    padding: 8px;
    display: flex;
    justify-content: space-around;
}