#timer {
    display: flex;
    width: 100%;
    height: 300px;
    font-size: 200px;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Mono', monospace;
}

.control {
    background-color: #00000066;
    padding: 8px;
    display: flex;
    justify-content: space-around;
}