@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@900&display=swap');

@font-face {
    font-family: 'Tempel Grotesk';
    src: url('/assets/fonts/TempelGrotesk.woff') format('woff');
    font-stretch: condensed;
}

:root.dark-mode {
    --background-color: #000000;
    --theme-color: #b92c00;
    --link-color: #e13d0b;
    --box-shadow-color: #2d0902;
    --header-bg: #00000099;
    font-family: "Inter", "Noto Sans SC", 'Material Symbols Outlined';
}

@media (prefers-color-scheme: dark) {
    :root.dark-mode {
        --text-color: #fff;
        --text-color-2: #888;
        --text-color-select: #Fff;
        --gray-color: #3b3b3b;
        --dark-gray-color: #2b2b2b;
        --darkened-theme-color: #169d84;
        --secondary-theme-color: #fff;
        --darkened-secondary-theme-color: #ccc;
    }
}

::selection {
    background-color: #78000188;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
}

body {
    background: url('https://n-wither.github.io/assets/imgs/lol/worlds-bg.png') var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.page-title img {
    max-width: 100%;
    max-height: 100%;
}

.dark-mode img.dark-change {
    filter: brightness(0) invert();
}

.worlds {
    /* background: #1e1e1e;
    color: white; */
    padding: 1rem;
    margin: auto;
    font-weight: normal;
}
.worlds img {
    max-width: 64px;
    max-height: 64px;
}

.worlds .logo {
    display: flex;
    flex-direction: column;
    width: 96px;
    height: 96px;
}

.worlds .region {
    display: flex;
    margin-bottom: 1.2rem;
    flex-wrap: wrap;
}

.worlds .logo span, .worlds .logo img{
    margin: auto;
}

.region-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.region-logo {
    box-shadow: 2px 0px #fff;
}
.region-logo :first-child {
    text-align: center;
}

.need-tooltip {
    cursor: help;
}

h2 {
    font-family: 'Tempel Grotesk', "Noto Sans SC";
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    display: inline-block;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.slogan {
    font-size: 2em;
    gap: 0.4em
}
.grind {
    font-family: 'Tempel Grotesk', "Noto Sans SC";
    line-height: 99%;
    transform: translateY(-0.1em);
}
.glory {
    font-family: 'Cinzel', 'Noto Serif SC';
    line-height: 98%;
}

.score, .name {
    font-family: 'Tempel Grotesk', "Noto Sans SC";
}

.team.qualified {
    background-color: #0004fc;
}

.team.eliminated {
    background-color: #52120b;
}
.team.eliminated .name {
    text-decoration: line-through;
}

.team.lose {
    color: #999;
}

.team.lose .logo {
    filter: saturate(0.6) brightness(0.8);
}

.logo {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.logo[data-team=JDG] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/0/00/JD_Gaminglogo_square.png);
}
.logo[data-team=BLG] {
    background-image: url(https://am-a.akamaihd.net/image?resize=120:&f=http://static.lolesports.com/teams/1682322954525_Bilibili_Gaming_logo_20211.png);
}
.logo[data-team=LNG] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/d/d5/LNG_Esportslogo_square.png);
}
.logo[data-team=WBG] {
    background-image: url(https://am-a.akamaihd.net/image?resize=120:&f=http://static.lolesports.com/teams/1641202879910_3.png);
}
.logo[data-team=GEN] {
    background-image: url(https://am-a.akamaihd.net/image?resize=120:&f=http://static.lolesports.com/teams/1655210113163_GenG_logo_200407-05.png);
}
.logo[data-team=T1] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/9/9c/T1logo_SK_telecom.png);
}
.logo[data-team=KT] {
    background-image: url(https://am-a.akamaihd.net/image?resize=120:&f=http://static.lolesports.com/teams/kt_darkbackground.png);
}
.logo[data-team=DK] {
    background-image: url(https://am-a.akamaihd.net/image?resize=120:&f=http://static.lolesports.com/teams/1673260049703_DPlusKIALOGO11.png);
}
.logo[data-team=G2] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/7/77/G2_Esportslogo_square.png);
}
.logo[data-team=FNC] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/f/fc/Fnaticlogo_square.png);
}
.logo[data-team=MAD] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/3/3c/MAD_Lionslogo_square.png);
}
.logo[data-team=BDS] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/9/9e/Team_BDSlogo_square.png);
}
.logo[data-team=NRG] {
    background-image: url(https://am-a.akamaihd.net/image?resize=120:&f=http://static.lolesports.com/teams/1681501735148_NRG_PRIMARY_LIGHT.png);
}
.logo[data-team=C9] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/8/88/Cloud9logo_square.png);
}
.logo[data-team=TL] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/f/f4/Team_Liquidlogo_square.png);
}
.logo[data-team=GG] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/9/98/Golden_Guardianslogo_square.png);
}
.logo[data-team=PSG] {
    background-image: url(https://am-a.akamaihd.net/image?resize=120:&f=http://static.lolesports.com/teams/1644501567410_PSG_3.png);
}
.logo[data-team=CFO] {
    background-image: url(https://am-a.akamaihd.net/image?resize=120:&f=http://static.lolesports.com/teams/1656307849320_CFO_Logo.png);
}
.logo[data-team=GAM] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/8/8a/GAM_Esportslogo_square.png);
}
.logo[data-team=TW] {
    background-image: url(https://am-a.akamaihd.net/image?resize=120:&f=http://static.lolesports.com/teams/1674646643550_TEAMWHALE_LOGO_VERSIONS_W_fullwhite-06-svg.png);
}
.logo[data-team=DFM] {
    background-image: url(https://am-a.akamaihd.net/image?resize=120:&f=http://static.lolesports.com/teams/1673415140442_dfm.png);
}
.logo[data-team=LLL] {
    background-image: url(https://am-a.akamaihd.net/image?resize=140:&f=http://static.lolesports.com/teams/Logo-LOUD-Esports_Original.png);
}
.logo[data-team=R7] {
    background-image: url(https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/2/2a/Movistar_R7logo_square.png);
}