@font-face {
    font-family: 'Tempel Grotesk Wide';
    src: url('https://n-wither.github.io/assets/fonts/TempelGrotesk-wide.woff2') format('woff2');
}

:root.dark-mode {
    --background-color: #000000;
    --theme-color: #b92c00;
    --link-color: #e13d0b;
    --box-shadow-color: #2d0902;
    font-family: "Metropolis", "Readex Pro", "Noto Sans SC", 'Material Symbols Outlined';
}

@media (prefers-color-scheme: dark) {
    :root.dark-mode {
        --text-color: #fff;
        --text-color-2: #888;
        --text-color-select: #Fff;
        --gray-color: #3b3b3b;
        --dark-gray-color: #2b2b2b;
        --darkened-theme-color: #169d84;
        --secondary-theme-color: #fff;
        --darkened-secondary-theme-color: #ccc;
    }
}

::selection {
    background-color: #78000188;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
}

body {
    background: url('https://n-wither.github.io/assets/imgs/lol/worlds-bg.png') var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.page-title img {
    max-width: 100%;
    max-height: 100%;
}

.dark-mode img.dark-change {
    filter: brightness(0) invert();
}

.worlds {
    /* background: #1e1e1e;
    color: white; */
    padding: 1rem;
    margin: auto;
}
.worlds img {
    max-width: 64px;
    max-height: 64px;
}

.worlds .logo {
    display: flex;
    flex-direction: column;
    width: 96px;
    height: 96px;
}

.worlds .region {
    display: flex;
    margin-bottom: 1.2rem;
    flex-wrap: wrap;
}

.worlds .logo span, .worlds .logo img{
    margin: auto;
}

.region-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.region-logo {
    box-shadow: 2px 0px #fff;
}
.region-logo :first-child {
    text-align: center;
}

.need-tooltip {
    cursor: help;
}

h3 {
    display: inline-block;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.slogan {
    font-size: 2em;
    gap: 0.4em
}
.grind {
    font-family: 'Tempel Grotesk Wide';
    line-height: 99%;
    transform: translateY(-0.1em) scaleX(0.8);
}
.glory {
    font-family: 'Cinzel', 'Noto Serif SC';
    line-height: 98%;
}