<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset= "utf-8">
    <meta name="referrer" content="no-referrer">
    <link href="https://n-wither.github.io/assets/css/metropolis.css" rel="stylesheet">
    <link rel="stylesheet" href="https://n-wither.github.io/assets/css/icons.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Serif SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans SC' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://N-Wither.github.io/assets/css/main-1.css">
    <link rel="stylesheet" href="../assets/css/page-specific/moba.css">
    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/63383462?v=4">
    <script src="https://n-wither.github.io/assets/js/utils.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.prod.min.js"></script>
    <script src="../assets/js/page-specific/moba.js" defer type="module"></script>
    <script>
        let title = 'Moba Scoreboard'
        document.title = title;
        let setElements = () => {
            document.getElementById('category').innerHTML = 'Tools';
            document.getElementById('page-title').innerHTML = title;
        }

        function init(){
            startTime();
            hello();
            randomQuote();
            setElements();
        }
    </script>
</head>
<body onload="init()">
    <div class="navigate" id="navigate">
        <a href="#" style="line-height: unset; height: 50px;">📂<span style="font-size: larger; font-weight: bolder;" id="category">Edit This</span></a>
        <a href="https://n-wither.github.io">🏠<span>Home</span></a>
        <a href="https://n-wither.github.io/writings/index.html">📚<span>Articles</span></a>
        <a href="https://n-wither.github.io/tools/tools.html">🔧<span>Tools</span></a>
        <a href="https://n-wither.github.io/misc/web-playground.html">🧩<span>Misc</span></a>
    </div>
    <div class="toolbox" id="toolbox">
        <div class="toolbox-grip">|||</div>
        <div id="clock">clock</div>
    </div>
    <div class="content">
        <div>
            <h1 id="page-title">Title</h1>
            <hr/>
        </div>
        <div class="mainText" id="scoreboard">
            <div class="moba-scoreboard">
                <div class="team-blue row-1 teamBlue-logo-bg">
                    <img :src="teamBlue.logo" :alt="teamBlue.name" :class="!teamBlue.logoFilter ? '' : 'filter-white'">
                </div>
                <div class="team-name row-1">
                    <span>{{ teamBlue.name }}</span>
                    <span>{{ teamBlue.pos }}</span>
                </div>
                <div class="towers row-1"><span style="color: mediumturquoise;" class="team-blue-stat">♜</span>&nbsp;<span>{{ teamBlue.towers }}</span></div>
                <div class="gold row-1"><span style="color: mediumturquoise;" class="team-blue-stat">&#xf51e;</span>&nbsp;<span>{{ parseFloat(teamBlue.gold).toFixed(1) + 'K' }}</span></div>
                <div class="kills row-1"><span style="color: mediumturquoise;" class="team-blue-stat">🗡</span><span>&nbsp;<span>{{ teamBlue.kills }}</span></span></div>
                <div class="game-label row-1"><img :src="global.leagueLogo" alt="League Logo" :class="!global.logoFilter ? '' : 'filter-white'"></div>
                <div class="kills row-1"><span style="color: crimson;" class="team-red-stat">🗡</span><span>&nbsp;<span>{{ teamRed.kills }}</span></span></div>
                <div class="gold row-1"><span style="color: crimson;" class="team-red-stat">&#xf51e;</span>&nbsp;<span>{{ parseFloat(teamRed.gold).toFixed(1) + 'K' }}</span></div>
                <div class="towers row-1"><span style="color: crimson;" class="team-red-stat">♜</span>&nbsp;<span>{{ teamRed.towers }}</span></div>
                <div class="team-name row-1">
                    <span>{{ teamRed.name }}</span>
                    <span>{{ teamRed.pos }}</span>
                </div>
                <div class="team-red row-1 teamRed-logo-bg">
                    <img :src="teamRed.logo" :alt="teamRed.name" :class="!teamRed.logoFilter ? '' : 'filter-white'">
                </div>
                <div class="score-area row-2 teamBlue-score">
                    <div class="score-teamBlue"></div>
                    <div class="score-teamBlue"></div>
                    <div class="score-blank"></div>
                </div>
                <div class="row-2 elder buff-container">
                    <div class="text">
                        <span v-if="teamBlue.elder != 0">
                            <embed src="../assets/imgs/lol/elder.svg">
                        </span>
                        <span v-if="teamBlue.elderTime == 0 && teamBlue.elder != 0">&nbsp;{{ teamBlue.elder }}</span>
                        <span v-if="teamBlue.elderTime != 0">&nbsp;{{ timeFormat(teamBlue.elderTime, true) }}</span>
                    </div>
                    <div class="elder buff-progress teamBlue-elder-bar"></div>
                </div>
                <div class="row-2 baron buff-container">
                    <div class="text">
                        <span v-if="teamBlue.baron != 0">
                            <embed src="../assets/imgs/lol/baron.svg">
                        </span>
                        <span v-if="teamBlue.baronTime == 0 && teamBlue.baron != 0">&nbsp;{{ teamBlue.baron }}</span>
                        <span v-if="teamBlue.baronTime != 0">&nbsp;{{ timeFormat(teamBlue.baronTime, true) }}</span>
                    </div>
                    <div class="baron buff-progress teamBlue-baron-bar"></div>
                </div>
                <div class="row-2">
                    <div v-if="global.goldDiff > 0">▲{{ Math.abs(global.goldDiff) }}K</div>
                </div>
                <div class="dragons-blue dragons row-2">
                    <span v-for="drake in teamBlue.dragons" :class="drake" v-if="typeof teamBlue.dragons == 'object'"></span>
                </div>
                <div class="time row-2" id="moba-time">{{ timeFormat(global.time) }}</div>
                <div class="dragons-red dragons row-2">
                    <span v-for="drake in teamRed.dragons" :class="drake"></span>
                </div>
                <div class="row-2">
                    <div v-if="global.goldDiff < 0">▲{{ Math.abs(global.goldDiff) }}K</div>
                </div>
                <div class="row-2 baron buff-container">
                    <div class="text">
                        <span v-if="teamRed.baron != 0">
                            <embed src="../assets/imgs/lol/baron.svg">
                        </span>
                        <span v-if="teamRed.baronTime == 0 && teamRed.baron != 0">&nbsp;{{ teamRed.baron }}</span>
                        <span v-if="teamRed.baronTime != 0">&nbsp;{{ timeFormat(teamRed.baronTime, true) }}</span>
                    </div>
                    <div class="baron buff-progress teamRed-baron-bar"></div>
                </div>
                <div class="row-2 elder buff-container">
                    <div class="text">
                        <span v-if="teamRed.elder != 0">
                            <embed src="../assets/imgs/lol/elder.svg">
                        </span>
                        <span v-if="teamRed.elderTime == 0 && teamRed.elder != 0">&nbsp;{{ teamRed.elder }}</span>
                        <span v-if="teamRed.elderTime != 0">&nbsp;{{ timeFormat(teamRed.elderTime, true) }}</span>
                    </div>
                    <div class="elder buff-progress teamRed-elder-bar"></div>
                </div>
                <div class="score-area row-2 teamRed-score" id="teamRed-score">
                    <div class="score-teamRed"></div>
                    <div class="score-teamRed"></div>
                    <div class="score-blank"></div>
                </div>
            </div>
            <br>
            <div class="scoreboard-control">
                <div class="title">
                    Control Panel
                    <button @click="clearAll(), setScore('teamBlue'), setScore('teamRed')">Reset All</button>
                    <button @click="clearStat()">Reset Stats</button>
                </div>
                <div>
                    <span>
                        <label for="scoreboard-theme">Theme</label>
                        <select id="scoreboard-theme" @change="setTheme()">
                            <option value="dark">Default Dark</option>
                            <option value="light">Default Light</option>
                            <option value="lpl">LPL</option>
                            <option value="lck">LCK</option>
                            <option value="lec">LEC</option>
                            <option value="lcs">LCS</option>
                            <option value="msi23">MSI 2023</option>
                        </select>
                    </span>
                </div>
                <div>
                    <span>
                        <label for="moba-bo">Best of </label>
                        <input type="number" value="5" id="moba-bo" v-model="global.bestOf" min="1" step="2" @change="setBestOf(), setScore('teamBlue'), setScore('teamRed')">
                    </span>
                </div>
                <div>
                    <span>Time</span>
                    <input type="number" value="00" id="moba-time-min" min="0">:<input type="number" value="00" id="moba-time-sec" min="-1" max="60">
                    <button id="moba-time-btn" @click="toggleGameTimer()">{{ global.timing ? 'Pause' : 'Start' }}</button>
                    <button @click="clearGameTimer()">Clear</button>
                </div>
                <div style="background-color: mediumturquoise;"><label for="team-blue-color">Team Blue </label><input type="color" @change="setColor('teamBlue')" v-model="teamBlue.color"></div>
                <div style="background-color: crimson;"><label for="team-red-color">Team Red </label><input type="color" @change="setColor('teamRed')" v-model="teamRed.color"></div>
                <div class="blue-side-stat">
                    <span><label for="moba-blue-team-name">Team Name </label><input type="text" id="moba-blue-team-name" v-model="teamBlue.name"></span>
                    <span><label for="moba-blue-team-position">Position </label><input type="text" id="moba-blue-team-position" v-model="teamBlue.pos"></span>
                    <span>
                        <label for="moba-blue-score">Score </label>
                        <input type="number" id="moba-blue-score" v-model="teamBlue.score" min="0" max="3" @change="setScore('teamBlue')">
                        <button @click="addScore('teamBlue', 1)">+</button>
                        <button @click="addScore('teamBlue', -1)">-</button>
                    </span>
                </div>
                <div class="red-side-stat">
                    <span><label for="moba-red-team-name">Team Name </label><input type="text" id="moba-red-team-name" v-model="teamRed.name"></span>
                    <span><label for="moba-red-team-position">Position </label><input type="text" id="moba-red-team-position" v-model="teamRed.pos"></span>
                    <span>
                        <label for="moba-red-score">Score </label>
                        <input type="number" id="moba-red-score" v-model="teamRed.score" min="0" max="3" @change="setScore('teamRed')">
                        <button @click="addScore('teamRed', 1)">+</button>
                        <button @click="addScore('teamRed', -1)">-</button>
                    </span>
                </div>
                <div class="blue-side-stat">
                    <span>
                        <label for="team-blue-w-l">W/L</label>
                        <input type="text" id="team-blue-w-l">
                    </span>
                    <span>
                        <label for="team-blue-baron-add">Baron</label>
                        <button id="team-blue-baron-add" @click="addBuff('teamBlue', 'baron')">+</button>
                        <button @click="removeBuff('teamBlue', 'baron')">-</button>
                    </span>
                    <span>
                        <label for="team-blue-elder-add">Elder Dragon</label>
                        <button id="team-blue-elder-add" @click="addBuff('teamBlue', 'elder')">+</button>
                        <button @click="removeBuff('teamBlue', 'elder')">-</button>
                    </span>
                </div>
                <div class="red-side-stat">
                    <span>
                        <label for="team-red-w-l">W/L</label>
                        <input type="text" id="team-red-w-l">
                    </span>
                    <span>
                        <label for="team-red-baron-add">Baron</label>
                        <button id="team-red-baron-add" @click="addBuff('teamRed', 'baron')">+</button>
                        <button @click="removeBuff('teamRed', 'baron')">-</button>
                    </span>
                    <span>
                        <label for="team-red-elder-add">Elder Dragon</label>
                        <button id="team-red-elder-add" @click="addBuff('teamRed', 'elder')">+</button>
                        <button @click="removeBuff('teamRed', 'elder')">-</button>
                    </span>
                </div>
                <div class="blue-side-stat">
                    <span>
                        <label for="moba-blue-gold">Gold </label>
                        <input v-model="teamBlue.gold" type="number" id="moba-blue-gold" min="0.0" step="0.1" @change="getGoldDiff()"> K
                        <button @click="addGold('teamBlue', 0.1)">+0.1</button>
                        <button @click="addGold('teamBlue', 0.2)">+0.2</button>
                        <button @click="addGold('teamBlue', 0.4)">+0.4</button>
                        <button @click="addGold('teamBlue', 0.5)">+0.5</button>
                        <button @click="addGold('teamBlue', 1.0)">+1.0</button>
                        <button @click="addGold('teamBlue', -0.1)">-0.1</button>
                        <button @click="addGold('teamBlue', -1.0)">-1.0</button>
                    </span>
                </div>
                <div class="red-side-stat">
                    <span>
                        <label for="moba-red-gold">Gold </label>
                        <input v-model="teamRed.gold" type="number" id="moba-red-gold" min="0.0" step="0.1" @change="getGoldDiff()"> K
                        <button @click="addGold('teamRed', 0.1)">+0.1</button>
                        <button @click="addGold('teamRed', 0.2)">+0.2</button>
                        <button @click="addGold('teamRed', 0.4)">+0.4</button>
                        <button @click="addGold('teamRed', 0.5)">+0.5</button>
                        <button @click="addGold('teamRed', 1.0)">+1.0</button>
                        <button @click="addGold('teamRed', -0.1)">-0.1</button>
                        <button @click="addGold('teamRed', -1.0)">-1.0</button>
                    </span>
                </div>
                <div class="blue-side-stat">
                    <label for="moba-blue-tower">Turrets</label>
                    <input type="number" v-model="teamBlue.towers" id="moba-blue-tower" min="0">
                    <button @click="addTower('teamBlue', 1)">+</button>
                    <button @click="addTower('teamBlue', -1)">-</button>
                    <label for="moba-blue-kill">Kills</label>
                    <input type="number" id="moba-blue-kill" v-model="teamBlue.kills" min="0">
                    <button @click="addKill('teamBlue', 1)">+</button>
                    <button @click="addKill('teamBlue', -1)">-</button>
                </div>
                <div class="red-side-stat">
                    <label for="moba-red-tower">Turrets</label>
                    <input type="number" v-model="teamRed.towers" id="moba-red-tower" min="0">
                    <button @click="addTower('teamRed', 1)">+</button>
                    <button @click="addTower('teamRed', -1)">-</button>
                    <label for="moba-red-kill">Kills</label>
                    <input type="number" id="moba-red-kill" v-model="teamRed.kills" min="0">
                    <button @click="teamRed.kills ++">+</button>
                    <button @click="teamRed.kills --">-</button>
                </div>
                <div class="blue-side-stat">
                    <label for="moba-blue-dragons">Dragons</label>
                    <input type="text" id="moba-blue-dragons" style="min-width: calc(100% - 12em);" v-model="teamBlue.dragons">
                    <button @click="setDragon('teamBlue')">Set</button>
                </div>
                <div class="red-side-stat">
                    <label for="moba-red-dragons">Dragons</label>
                    <input type="text" id="moba-red-dragons" style="min-width: calc(100% - 12em);" v-model="teamRed.dragons">
                    <button @click="setDragon('teamRed')">Set</button>
                </div>
                <div class="blue-side-stat">
                    <button id="moba-blue-cloud" @click="addDragon('teamBlue', 'cloud')">Cloud</button>
                    <button id="moba-blue-infernal" @click="addDragon('teamBlue', 'infernal')">Infernal</button>
                    <button id="moba-blue-mountain" @click="addDragon('teamBlue', 'mountain')">Mountain</button>
                    <button id="moba-blue-ocean" @click="addDragon('teamBlue', 'ocean')">Ocean</button>
                    <button id="moba-blue-chemtech" @click="addDragon('teamBlue', 'chemtech')">Chemtech</button>
                    <button id="moba-blue-hextech" @click="addDragon('teamBlue', 'hextech')">Hextech</button>
                </div>
                <div class="red-side-stat">
                    <button id="moba-blue-cloud" @click="addDragon('teamRed', 'cloud')">Cloud</button>
                    <button id="moba-blue-infernal" @click="addDragon('teamRed', 'infernal')">Infernal</button>
                    <button id="moba-blue-mountain" @click="addDragon('teamRed', 'mountain')">Mountain</button>
                    <button id="moba-blue-ocean" @click="addDragon('teamRed', 'ocean')">Ocean</button>
                    <button id="moba-blue-chemtech" @click="addDragon('teamRed', 'chemtech')">Chemtech</button>
                    <button id="moba-blue-hextech" @click="addDragon('teamRed', 'hextech')">Hextech</button>
                </div>
                <div class="blue-side-stat">
                    <label for="blue-team-logo">Logo Url</label>
                    <input type="url" name="blue-team-logo" id="blue-team-logo-url" style="min-width: 50%;" v-model="teamBlue.logo">
                    <input type="checkbox" id="blue-team-logo-filter" checked @change="teamBlue.logoFilter = !teamBlue.logoFilter">
                    <label for="blue-team-logo-filter">Logo Img Filter</label>
                </div>
                <div class="red-side-stat">
                    <label for="red-team-logo">Logo Url</label>
                    <input type="url" name="red-team-logo" id="red-team-logo-url" style="min-width: 50%;" v-model="teamRed.logo">
                    <input type="checkbox" id="red-team-logo-filter" checked @change="teamRed.logoFilter = !teamRed.logoFilter">
                    <label for="red-team-logo-filter">Logo Img Filter</label>
                </div>
                <div style="grid-column-end: 3; grid-column-start: 1;">
                    <label for="league-logo-url">League Logo</label>
                    <input type="url" id="league-logo-url" style="min-width: 60%;" v-model="global.leagueLogo">
                    <button @click="global.logoFilter = !global.logoFilter">Toggle Img Filter</button>
                </div>
            </div>
            <br>
            <div class="moba-scoreboard-mobile">
                <!-- row 1 -->
                <div class="team-blue teamBlue-logo-bg">
                    <img :src="teamBlue.logo" :alt="teamBlue.name" :class="!teamBlue.logoFilter ? '' : 'filter-white'">
                </div>
                <div class="team-name row-1">
                    <span class="team-name-text">{{ teamBlue.name }}</span>
                    <span class="team-pos-text">{{ teamBlue.pos }}</span>
                </div>
                <div class="league-logo row-1">
                    <img :src="global.leagueLogo" alt="League Logo" :class="!global.logoFilter ? '' : 'filter-white'">
                </div>
                <div class="team-name row-1">
                    <span class="team-name-text">{{ teamRed.name }}</span>
                    <span class="team-pos-text">{{ teamRed.pos }}</span>
                </div>
                <div class="team-red teamRed-logo-bg">
                    <img :src="teamRed.logo" :alt="teamRed.name" :class="!teamRed.logoFilter ? '' : 'filter-white'">
                </div>
                <!-- row 2 -->
                <div class="score-area teamBlue teamBlue-score row-even">
                    <div class="score-teamBlue"></div>
                    <div class="score-teamBlue"></div>
                    <div class="score-blank"></div>
                </div>
                <div class="dragons-blue dragons row-even">
                    <span v-for="drake in teamBlue.dragons" :class="drake" v-if="typeof teamBlue.dragons == 'object'"></span>
                </div>
                <div class="time row-even">{{ timeFormat(global.time) }}</div>
                <div class="dragons-red dragons row-even">
                    <span v-for="drake in teamRed.dragons" :class="drake"></span>
                </div>
                <div class="score-area teamRed teamRed-score row-even">
                    <div class="score-teamRed"></div>
                    <div class="score-teamRed"></div>
                    <div class="score-blank"></div>
                </div>
                <!-- row 3 -->
                <div class="kill teamBlue left">
                    {{ teamBlue.kills }}
                    <div class="better left" v-if="teamBlue.kills > teamRed.kills">
                        ◀
                    </div>
                </div>
                <div class="icon">🗡</div>
                <div class="kill teamRed right">
                    {{ teamRed.kills }}
                    <div class="better right" v-if="teamBlue.kills < teamRed.kills">
                        ▶
                    </div>
                </div>
                <!-- row 4 -->
                <div class="gold teamBlue left row-even">
                    <span>{{ teamBlue.gold }}K</span>
                    <div class="better left" v-if="global.goldDiff > 0">
                        <span>+{{ Math.abs(global.goldDiff) }}K</span> ◀
                    </div>
                </div>
                <div class="icon row-even">&#xf51e;</div>
                <div class="gold teamRed right row-even">
                    <span>{{ teamRed.gold }}K</span>
                    <div class="better right" v-if="global.goldDiff < 0">
                        ▶ <span>+{{ Math.abs(global.goldDiff) }}K</span> 
                    </div>
                </div>
                <!-- row 5 -->
                <div class="turret teamBlue left">{{ teamBlue.towers }}
                    <div class="better left" v-if="teamBlue.towers > teamRed.towers">
                        ◀
                    </div>
                </div>
                <div class="icon">♜</div>
                <div class="turret teamRed right">{{ teamRed.towers }}
                    <div class="better right" v-if="teamBlue.towers < teamRed.towers">
                        ▶
                    </div>
                </div>
                <!-- row 6 -->
                <div class="row-2 baron buff-container left row-even">
                    <div class="text">
                        <span v-if="teamBlue.baronTime == 0">{{ teamBlue.baron }}</span>
                        <span v-if="teamBlue.baronTime != 0">{{ timeFormat(teamBlue.baronTime, true) }}</span>
                    </div>
                    <div class="baron buff-progress teamBlue-baron-bar"></div>
                </div>
                <div class="icon row-even"><embed src="../assets/imgs/lol/baron.svg"></div>
                <div class="row-2 baron buff-container right row-even">
                    <div class="text">
                        <span v-if="teamRed.baronTime == 0">{{ teamRed.baron }}</span>
                        <span v-if="teamRed.baronTime != 0">{{ timeFormat(teamRed.baronTime, true) }}</span>
                    </div>
                    <div class="baron buff-progress teamRed-baron-bar"></div>
                </div>
                <!-- row 7 -->
                <div class="row-2 elder buff-container left">
                    <div class="text">
                        <span v-if="teamBlue.elderTime == 0">{{ teamBlue.elder }}</span>
                        <span v-if="teamBlue.elderTime != 0">{{ timeFormat(teamBlue.elderTime, true) }}</span>
                    </div>
                    <div class="elder buff-progress teamBlue-elder-bar" id="teamBlue-elder-bar"></div>
                </div>
                <div class="icon"><embed src="../assets/imgs/lol/elder.svg"></div>
                <div class="row-2 elder buff-container right">
                    <div class="text">
                        <span v-if="teamRed.elderTime == 0">{{ teamRed.elder }}</span>
                        <span v-if="teamRed.elderTime != 0">{{ timeFormat(teamRed.elderTime, true) }}</span>
                    </div>
                    <div class="elder buff-progress teamRed-elder-bar" id="teamRed-elder-bar"></div>
                </div>
            </div>
        </div>
        <div id="footer" style="clear:both;text-align:center;">
            <hr/>
            <span id="randomQuote">Random Quote</span>
            <br>
            Powered by <a href="https://pages.github.com/" >Github Pages</a>.
        </div>
    </div>
</body>
</html>