:root {
    --background-color: antiquewhite;
    --text-color: #0F0F0F;
    --text-color-2: #fff;
    --gray-color: #d5c1a7;
    --dark-gray-color: #b19571;
    --theme-color: #961796;
    --darkened-theme-color: #6c0b6c;
    --box-shadow-color: #0F0F0F22;

    --header-height: 3.6rem;
    scroll-behavior: smooth;
}

:root.dark-mode {
    --background-color: #111315;
    --text-color: #e4dac7;
    --text-color-2: #888;
    --gray-color: #3b3b3b;
    --dark-gray-color: #2b2b2b;
    --theme-color: #961796;
    --darkened-theme-color: #6a0a6a;
    --box-shadow-color: #44444422;
}

.page-content a, .page-footer a {
    color: var(--theme-color);
    background: linear-gradient(to right, var(--theme-color), var(--theme-color)) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 200ms;
    text-decoration: none;
}

.page-content a:hover, .page-content a:focus, .page-footer a:hover, .page-footer a:focus {
    background-position-x: left;
    background-size: 100% 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

.center-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-document {
    min-height: 20rem;
    min-width: 20rem;
    max-width: 80%;
    position: relative;
    background-color: #fdfdfd;
    box-shadow: none;
    padding: 1.5rem;
    box-shadow: 0px 1px 4px #000008cc;
    margin: 2rem;
}

.paper-document.dark, .dark-mode .paper-document {
    background-color: #1e1e23;
}

.paper-document::before, .paper-document::after {
    content: '';
    position: absolute;
    z-index: -1;
}

.paper-document::before {
    left: -4px;
    top: 4px;
    width: 100%;
    height: 98%;
    background-color: #f6f6f6;
    transform: rotate(3.5deg);
    box-shadow: inherit;
}

.paper-document.dark::before, .dark-mode .paper-document::before {
    background-color: #2f2f34;
}

.paper-document::after {
    left: -4px;
    top: 4px;
    width: 100%;
    height: 98%;
    background-color: #fbfbfb;
    transform: rotate(-2.5deg);
    box-shadow: inherit;
}

.paper-document.dark::after, .dark-mode .paper-document::after {
    background-color: #313136;
}

.tooltip {
    background: var(--background-color);
    color: var(--text-color);
    padding: 0.8rem;
    font-size: inherit;
    box-shadow: 0px 4px 8px var(--box-shadow-color);
}