body {
    background: url('https://n-wither.github.io/assets/imgs/western_fantasy_harbor_city_blue_and_white_color_aerial.png') antiquewhite;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.dark-mode-on {
    background: url('https://n-wither.github.io/assets/imgs/western_fantasy_harbor_city_blue_and_white_color_aerial.png') #252525;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content .mainText {
    background: #faf5e4;
    padding: 1rem;
    box-shadow: 2px 2px 8px #00000066;
    color: black;
    transition: 0.2s;
}

.content-dark .mainText {
    background: #333333;
    box-shadow: 2px 2px 8px #00000066;
    padding: 1rem;
    color: white;
    transition: 0.2s;
}

.content-dark .mainText h2 {
    background-color: #383838;
}

h2 {
    background-color: #eadac3;
    text-shadow: 2px 2px 4px #00000033;
    padding: 8px;
    position: relative;
    left: -3%;
    box-shadow: 2px 2px 6px #00000033;
    margin: 0;
}

::-webkit-scrollbar-track {
    background: #faf5e4;
    width: 0px;
}

.content-table a {
    position: relative;
    color: white;
    background: linear-gradient(0deg, #d271ff, #d271ff) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}

.content-table a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

/* .content-table a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: #c256f0;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
  } */

/* .content-table a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  } */

code {
    background-color: #00000033;
    border-radius: 2px;
}

summary {
    -webkit-user-select: none;
    user-select: none;
}

#accessibility-switch:active {
    background-color: #ffffff33;
    transition: 0.1s;
}

#accessibility-switch:hover {
    transition: 0.1s;
    transform: scale(1.04);
}

#accessibility-switch {
    transition: 0.1s;
}

.content a {
    position: relative;
    color: #d271ff;
}

.content a:hover, .content a:focus {
    background: transparent;
    color: #d271ff;
}

.content a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: #d271ff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
}

.content a:hover::before, .content a:focus::before {
    transform-origin: left;
    transform: scaleX(1);
}

pre {
    box-shadow: 2px 2px 6px #00000033;
}

#toolbox {
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 200px;
    transition: 0.2s;
}

.title-main {
    font-size: 4rem;
    font-weight: bolder;
    margin: auto;
    text-shadow: 2px 2px 8px #047cc8;
}

.mainText {
    margin-bottom: 8px;
}

details.info {
    background-color: #00000066;
}

.hljs {
    background: #f6e8de;
}

.dark-mode-on~.hljs {
    background: #343040;
}

::selection {
    background-color: #810fb1;
    color: white;
}

.illust {
    text-align: center;
}

.illust img {
    box-shadow: 2px 2px 8px #333333;
}

.italic {
    font-style: italic;
}

.navigate {
    z-index: 99999;
}

.tooltip {
    opacity: 0;
    position: fixed;
    background-color: #00000099;
    user-select: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    transition: 0.2s;
    font-size: small;
    min-width: 150px;
    max-width: 75%;
    overflow-x: hidden;
}

.img-box {
    background-color: #f9f2ed;
    padding: 10px;
    box-shadow: #00000033 2px 2px 4px;
}

.img-box img {
    max-width: 100%;
    transition: .2s;
}

.content-dark .img-box {
    background-color: #383838;
}

.content-dark .img-box img{
    filter: brightness(0.7);
}

.img-box img.img-zoom:hover {
    transform: scale(1.5);
}

.mainText hr {
    width: 60%;
}

details.info-in-text {
    background-color: transparent;
    border: 2px solid #333333;
}

#category {
    font-size: larger;
    font-weight: bolder;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, #00000066, #00000066);
    background-size: 100%;
    background-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all .2s;
    text-shadow: #333333 2px 2px 6px;
    position: relative;
}

.story .type {
    font-size: 0.6rem;
    z-index: 1;
}

.story .s-title {
    font-size: 2rem;
    font-weight: bolder;
    z-index: 1;
}

.story .summary {
    font-size: 0.9rem;
    z-index: 1;
}

.story a {
    color: white;
}

.story:hover, .story:has(a:hover, a:focus) {
    background-size: 120%;
}

.story .bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000066;
    z-index: 0;
}

.worldview {
    background-color: #00000066;
    padding: 0.5rem;
}